<mat-card class="enhancement">
  <app-user-avatar-circle [user]="enhancement.author"></app-user-avatar-circle>
  <div>
    <div class="enhancement-content">
      <a [routerLink]="['/users', enhancement.author.username]">{{enhancement.author.firstName}} {{enhancement.author.lastName}}</a>
      <markdown [data]="enhancement.message"></markdown>
    </div>
    <div class="enhancement-date">{{enhancement.publicationDate | dateInterval}}</div>
  </div>
</mat-card>
