<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <button mat-raised-button class="back-button" routerLink="/login">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back to login
    </button>

    <img src="../../../assets/images/treviz-logo.png" id="logo">

    <mat-card class="authentication-card" *ngIf="message !== ''; else loading">
      <h3>{{message}}</h3>
    </mat-card>
    <ng-template #loading>
      <div class="authentication-card">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-template>

  </div>

</div>
