mat-card{
  width: 75%;
  margin: 15pt auto 15pt auto;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
}

.create-community{
  width: 75%;
  margin: 15pt auto 15pt auto;
  display: flex;
  flex-direction: column;
}

section, input, button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.file-input{
  display: none;
}

.uploaded{
  background-color: #388e3c;
}

form{
  width: 100%;
}

mat-form-field {
  width: 100%;
}
