<div class="create-community">

  <div>

    <h1>Create a community</h1>

    <div>

      <div class="form">

        <mat-form-field>
          <input matInput required
                 placeholder="Name"
                 #name
                 name="name"
                 [(ngModel)]="community.name">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput required
                    placeholder="Description"
                    #description
                    name="description"
                    [(ngModel)]="community.description"
                    rows="5"></textarea>
          <mat-hint align="end"><a href="https://guides.github.com/features/mastering-markdown/">We support markdown!</a></mat-hint>
        </mat-form-field>

        <section>
          <h3>Visibility</h3>
          <div>
            A community can either be public or private. A public community can be seen by anyone, while a private one
            is ony accessible to its members, on invitation.
            <br/>
            Public communities can be open: joining them does not require the approval of any administrator.
          </div>
          <mat-checkbox #visible
                       name="visible"
                       [(ngModel)]="community.isPublic">Public community</mat-checkbox>
          <br/>
          <mat-checkbox #open
                       name="open"
                       *ngIf="community.isPublic"
                       [checked]="community.isPublic && community.open"
                       [(ngModel)]="community.open">Open community</mat-checkbox>
        </section>

        <h3>Logo</h3>
        <span>Upload a logo</span>

        <button mat-fab (click)="fileInput.click()" *ngIf="!logoUploaded">
          <mat-icon >file_upload</mat-icon>
        </button>
        <button mat-fab (click)="fileInput.click()" *ngIf="logoUploaded" class="uploaded">
          <mat-icon >done</mat-icon>
        </button>

        <input type="file"
               #fileInput
               name="file"
               class="file-input"
               (change)="addFile($event)"/>

        <button mat-raised-button type="submit"
                (click)="onSubmit()"
                [disabled]="submitted || name.value.length === 0 || description.value.length === 0">Create</button>

      </div>

    </div>

  </div>

</div>
