@import "../../../assets/theme";

#project-filter-dialog{
  width: 800px;
  margin: 24px;

  @include media-breakpoint-smaller {
    width: 260px;
  }

  @include media-breakpoint-small {
    width: 450px;
  }

  @include media-breakpoint-medium {
    width: 550px;
  }

  @include media-breakpoint-large {
    width: 700px;
  }
}

#filters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#project-filter-dialog{
  display: flex;
  flex-direction: column;
  margin: 24px;
}

#text-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tag-list{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 24px;
}

mat-form-field{
  width: 100%;
  margin: 5px;
}

#reward-input {
  display: flex;
  flex-direction: row;
  > mat-form-field {
    margin: 6px;
  }
}
