@import "../../../assets/theme";

app-job-thumbnail {
  margin: 24px;
}

.search-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-smaller {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

section {
  max-width: 1400px;
  margin: 20px auto 20px auto;
}

.section-head{
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin-left: 24px;
  }
}

.job-list-content{
  margin: 24px;
}

.search-load-more{
  width: 50px;
  margin: auto;
}

.load-more-button{
  width: 100%;
  margin: 10px auto;
}
