<mat-progress-bar mode="indeterminate" *ngIf="!personalJobsFetched || !jobsFetched"></mat-progress-bar>

<div class="job-list-content">

  <!-- Display the jobs the user takes part in -->

  <section *ngIf="personalJobsFetched && personalJobs.length > 0">
    <div class="section-head">
      <h2>My jobs</h2>
      <button mat-fab routerLink="/jobs/create"><mat-icon>add</mat-icon></button>
    </div>

    <div class="search-results">
      <app-job-thumbnail *ngFor="let job of personalJobs" [job]="job"></app-job-thumbnail>
    </div>
  </section>

  <!-- JOBS TO DISPLAY -->

  <section *ngIf="jobsFetched && jobs.length > 0" >
    <div class="section-head" *ngIf="!project && !user">
      <h2>Available jobs</h2>
      <button mat-raised-button (click)="openFilterDialog()">Filter</button>
    </div>
    <div class="search-results">
      <app-job-thumbnail *ngFor="let job of jobs" [job]="job"></app-job-thumbnail>
    </div>
  </section>

  <button mat-button (click)="loadMore()" class="load-more-button" *ngIf="jobsFetched && moreToLoad">Load more</button>

</div>

