<!--component html goes here -->

<div id="project-manage-team-dialog">

  <button mat-icon-button (click)="dialogRef.close()" id="close-button">
    <mat-icon>close</mat-icon>
  </button>

  <mat-tab-group>

    <mat-tab label="Manage Team">

      <div id="manage-memberships" *ngIf="rolesFetched; else loadMemberships">

        <div id="users-membership-list-header">
          <span>Member</span>
          <span>Role</span>
        </div>

        <div *ngFor="let membership of memberships"
            class="user-membership"
            [class.active]="membership.hash === membershipToEdit.hash">

          <div class="user-avatar-name"
              (click)="editMembership(membership)">
            <div class="avatar-crop">
              <img src="../../../assets/images/profile.svg" *ngIf="!membership.user.avatarUrl">
              <img src="{{membership.user.avatarUrl}}" *ngIf="membership.user.avatarUrl">
            </div>
            {{membership.user.firstName}} {{membership.user.lastName}}
          </div>

          <div class="spacer"
               (click)="editMembership(membership)"></div>

          <div>
            <div *ngIf="membershipToEdit.hash !== membership.hash"
                 (click)="editMembership(membership)">
            {{membership.role.name}}
            </div>

            <div *ngIf="membershipToEdit.hash === membership.hash">
              <mat-form-field>
                <mat-select [(ngModel)]="membershipToEdit.role.hash">
                  <mat-option *ngFor="let role of roles" [value]="role.hash">{{role.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-icon-button (click)="saveMembershipChanges()"><mat-icon>check</mat-icon></button>
              <button mat-icon-button (click)="abortMembershipChange()"><mat-icon>clear</mat-icon></button>
            </div>
          </div>

        </div>

      </div>
      <ng-template #loadMemberships>
        <div class="progress-spinner">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Manage Invitations">

      <div class="manage-invitations">

        <mat-form-field id="invitation-input">
          <input matInput name="username" [formControl]="userCtrl" placeholder="Username of the user you wish to invite"/>
        </mat-form-field>

        <div *ngFor="let user of filteredUsers"
             class="user-membership"
             [class.active]="invitation.user === user.username">

          <div class="user-avatar-name">
            <div class="avatar-crop">
              <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
              <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
            </div>
            {{user.firstName}} {{user.lastName}}
          </div>

          <div class="spacer" [class.unfixedHeight]="invitation.user === user.username">
            <mat-form-field *ngIf="invitation.user === user.username">
              <textarea placeholder="Send a message" matInput [(ngModel)]="invitation.message"></textarea>
            </mat-form-field>
          </div>

          <div>
            <div *ngIf="canInvite(user)">
              <div>
                <button mat-raised-button (click)="triggerInvitation(user)" *ngIf="invitation.user !== user.username">Invite</button>
                <button mat-raised-button (click)="sendInvitation()" *ngIf="invitation.user === user.username" [disabled]="invitationSubmitted">Send Invitation</button>
              </div>
            </div>
            <div *ngIf="!canInvite(user)">
              <button disabled mat-raised-button *ngIf="isCandidate(user)">User is already candidate</button>
              <button disabled mat-raised-button *ngIf="isMember(user)">User is already member</button>
              <button mat-raised-button *ngIf="isInvited(user)" [disabled]="invitationPendingRemoval">Remove Invitation</button>
            </div>
          </div>
        </div>

        <div *ngFor="let invitation of invitations"
             class="user-invitation">

          <div class="user-avatar-name">
            <div class="avatar-crop">
              <img src="../../../assets/images/profile.svg" *ngIf="!invitation.user.avatarUrl">
              <img src="{{invitation.user.avatarUrl}}" *ngIf="invitation.user.avatarUrl">
            </div>
            {{invitation.user.firstName}} {{invitation.user.lastName}}
          </div>

          <div class="spacer"></div>

          <div>
            <div>
              <button mat-button (click)="removeInvitation(invitation)" [disabled]="invitationPendingRemoval">Remove Invitation</button>
            </div>
          </div>

        </div>

      </div>

    </mat-tab>

    <mat-tab label="Manage Candidacies">

      <div class="manage-invitations">

        <div *ngFor="let candidacy of candidacies"
             class="user-candidacy">

          <div class="user-avatar-name">
            <div class="avatar-crop">
              <img src="../../../assets/images/profile.svg" *ngIf="!candidacy.user.avatarUrl">
              <img src="{{candidacy.user.avatarUrl}}" *ngIf="candidacy.user.avatarUrl">
            </div>
            {{candidacy.user.firstName}} {{candidacy.user.lastName}}
            <span *ngIf="candidacy.job"> for job <a [routerLink]="['/jobs', candidacy.job.hash]">{{candidacy.job.name}}</a></span>
          </div>

          <div class="spacer">
            {{candidacy.message}}
          </div>

          <div>
              <button mat-button (click)="removeCandidacy(candidacy)" [disabled]="candidacySubmitted">Remove Candidacy</button>
              <button mat-button (click)="acceptCandidacy(candidacy)" class="accept-button" [disabled]="candidacySubmitted">Accept Candidacy</button>
          </div>

        </div>

      </div>

    </mat-tab>

    <mat-tab label="Manage Roles">

      <div id="manage-roles" *ngIf="rolesFetched; else loadRoles">

        <mat-list id="roles-list">
          <mat-list-item>
            <button mat-button (click)="newRole()">
              <mat-icon>add</mat-icon>
              New Role
            </button>
          </mat-list-item>
          <mat-list-item *ngFor="let role of roles">
            <button mat-button (click)="selectRole(role)" [class.isSelected]="role === selectedRole">
              {{role.name}}
            </button>
          </mat-list-item>
        </mat-list>

        <div id="role-detail">
          <app-project-role-management
            [role]="selectedRole"
            [project]="project"
            (onRoleUpdate)="updateRole($event)"></app-project-role-management>
        </div>

      </div>
      <ng-template #loadRoles>
        <div class="progress-spinner">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>

    </mat-tab>

  </mat-tab-group>

</div>
