@import "../../../../assets/theme";

#job-manage-dialog {
  width: 800px;
  margin: 24px;

  @include media-breakpoint-smaller {
    width: 260px;
  }

  @include media-breakpoint-small {
    width: 450px;
  }

  @include media-breakpoint-medium {
    width: 550px;
  }

  @include media-breakpoint-large {
    width: 700px;
  }
}

#job-input {
  display: flex;
  flex-direction: row;

  @include media-breakpoint-smaller {
    flex-direction: column;
  }

  @include media-breakpoint-small {
    flex-direction: column;
  }
}

mat-form-field {
  width: 100%;
}

/*
 * General information regarding the job
 */

#job-name-input{
  font-size: 1.3em;
}

#general-job-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 12px;

  @include media-breakpoint-smaller {
    flex-direction: row;
    width: 100%;
  }

  @include media-breakpoint-small {
    flex-direction: row;
    width: 100%;
  }
}

.store{
  min-height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgba(0,0,0,.12);
}

/*
 * Candidacies, job contact and holder
 */

#job-relations {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 12px;

  @include media-breakpoint-smaller {
    flex-direction: row;
    width: 100%;
  }

  @include media-breakpoint-small {
    flex-direction: row;
    width: 100%;
  }
}

.user-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;

  > span {
    margin-left: 12px;
  }
}

.image-cropper{
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
}
