<div class="feedback">

  <div class="feedback-text">
    <span *ngIf="!feedback.praise; else praise">
      <strong><a [routerLink]="['/users', feedback.giver.username]">{{feedback.giver.firstName}} {{feedback.giver.lastName}}</a></strong> gave you feedback:
    </span>
    <ng-template #praise>
      <span>
        <mat-icon>star</mat-icon>
        <strong><a [routerLink]="['/users', feedback.giver.username]">{{feedback.giver.firstName}} {{feedback.giver.lastName}}</a></strong> praised your work:
      </span>
    </ng-template>

    <markdown [data]="feedback.feedback"> </markdown>
  </div>

  <mat-card class="task-card">
    <app-task [task]="feedback.task"></app-task>
  </mat-card>

</div>
