<!--component html goes here -->
<h2>Notifications</h2>

<p>Select the type of events for which Treviz will send you notifications</p>

<div>

    <h3>Candidacies</h3>

    <mat-list>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="communityNotificationPreferences.onPost" [disabled]="loading">
                <span class="permission-description">A new post is added to the community</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="communityNotificationPreferences.onCandidacy" [disabled]="loading">
                <span class="permission-description">Someone candidates to the community</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="communityNotificationPreferences.onNewBrainstorming" [disabled]="loading">
                <span class="permission-description">A new brainstorming session is created</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="communityNotificationPreferences.onNewProject" [disabled]="loading">
                <span class="permission-description">A new project is linked to the community</span>
            </mat-checkbox>
        </mat-list-item>
    </mat-list>

    <button mat-raised-button color="primary" (click)="updatePreferences()" [disabled]="loading">Update my preferences</button>

</div>