mat-card {
  padding: 0;
  width: 250px;
  overflow: hidden;
}

.column-header{
  padding: 12px 24px;
  border-top: 7px solid #3949AB;
  font-size: 1.2em;
}

.new-task-trigger{
  padding: 6px 12px;
  line-height: 36px;
  color: #9E9E9E;
}

.new-task-input {
  padding: 6px 12px;

  > mat-form-field {
    width: 100%;
  }

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.hidden {
  display: none;
}

.column-tasks {
  display: flex;
  flex-direction: column;
  padding: 6px;

  > app-task {
    margin-top: 6px;
    padding: 6px;
  }
}
