<mat-card *ngIf="column">
  <div class="column-header">{{column.name}}</div>

  <div class="column-tasks" [dragula]='"kanban-board"' [dragulaModel]='column.tasks'>
    <app-task *ngFor="let task of column.tasks"
      [task]="task" [availableLabels]="labels"
      (onTaskUpdate)="updateTask($event)"
      (onTaskDelete)="removeTask($event)"></app-task>
  </div>

  <div>
    <div class="new-task-input" [class.hidden]="!displayNewTaskInput">
      <mat-form-field>
        <textarea matInput name="task" placeholder="New task" [(ngModel)]="taskDto.name" [disabled]="taskSubmitted"></textarea>
      </mat-form-field>
      <div>
        <button mat-button (click)="onSubmit()" [disabled]="taskSubmitted">Add</button>
        <button mat-button (click)="triggerTaskInput()" [disabled]="taskSubmitted"><mat-icon>clear</mat-icon></button>
      </div>
    </div>
    <div>
      <a class="new-task-trigger" (click)="triggerTaskInput()" [class.hidden]="displayNewTaskInput">Add a new task</a>
    </div>
  </div>
</mat-card>
