@import "../../../../assets/theme";

#feedback-list-component {
  padding: 24px;
}

#feedback-list {
  display: flex;
  flex-direction: column;
}

app-feedback {
  margin: 12px;
}


/*
 * Display progress spinner while the request to fetch the feedback has not been completed
 */
#loading{
  position: relative;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
