<div id="feedback-list-component">

  <h3 *ngIf="feedbackLoaded && feedbacks.length > 0">Feedback</h3>

  <div id="feedback-list" *ngIf="feedbackLoaded">
    <app-feedback *ngFor="let feedback of feedbacks" [feedback]="feedback"></app-feedback>
  </div>

  <div id="loading" *ngIf="feedbackLoaded || feedbacks.length == 0">
    <mat-progress-spinner mode="indeterminate" *ngIf="!feedbackLoaded"></mat-progress-spinner>
    <div *ngIf="feedbackLoaded && feedbacks.length == 0">
      <h3>You do not have any feedback yet</h3>
      <span>Complete tasks in various projects to get some</span>
    </div>
  </div>

</div>
