<button mat-button class="back-button" routerLink="">
  <mat-icon>keyboard_arrow_left</mat-icon>
  Retour
</button>

<mat-card class="center-card">
  <mat-card-title>Ressource inexistante</mat-card-title>
  <mat-card-content>
    La ressource que vous avez demandé n'existe pas !
  </mat-card-content>
</mat-card>
