<div class="message">
  <div>
    <div class="avatar-crop">
      <img src="../../../assets/images/profile.svg" *ngIf="!message.owner.avatarUrl">
      <img src="{{message.owner.avatarUrl}}" *ngIf="message.owner.avatarUrl">
    </div>
  </div>
  <div>
        <span>
            <a class="username" [routerLink]="['/users', message.owner.username]">{{message.owner.firstName}} {{message.owner.lastName}}</a>
            <span> {{message.posted | dateInterval }} </span>
        </span>
    <markdown>{{message.text}}</markdown>
  </div>
</div>
