.message{
  display: flex;
  flex-direction:row;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.avatar-crop{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.username{
  font-weight: bold;
}
