<mat-dialog-content class="chat-room-description">

  <button mat-icon-button (click)="dialogRef.close()" class="close-dialog-button">
    <mat-icon>close</mat-icon>
  </button>

  <h2>{{room.name}}</h2>

  <div>
    {{room.description}}
  </div>

  <h4>Members:</h4>
  <mat-list>
    <mat-list-item *ngFor="let user of room.users">
      <div class="image-cropper">
        <img src="../../../assets/images/profile.svg" class="message-avatar" *ngIf="!user.avatarUrl">
        <img src="{{user.avatarUrl}}" class="message-avatar" *ngIf="user.avatarUrl">
      </div>
      <a routerLink="/users/{{user.username}}">{{user.username}}</a>
    </mat-list-item>
  </mat-list>

  <form class="users-invite" (submit)="inviteUser()">
    <h4>Invite users</h4>
    <mat-form-field>
      <input matInput
             placeholder="Pseudo"
             [matAutocomplete]="usersAutocomplete"
             [formControl]="userCtrl"
             #name
             (keyup.enter)="addUserFromUsername(name.value); name.value = ''">
    </mat-form-field>

    <mat-autocomplete #usersAutocomplete="matAutocomplete">
      <mat-option *ngFor="let user of filteredUsers"
                 [value]="user.username"
                 (click)="addUser(user)">
        <div class="user-invite-option">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
            <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
          </div>
          <span>{{user.username}}</span>
        </div>
      </mat-option>
    </mat-autocomplete>

    <div class="user-invite-list">
      <button mat-raised-button *ngFor="let user of usersToInvite" (click)="removeUser(user)">
        <div class="user-invite-option">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" class="message-avatar" *ngIf="!user.avatarUrl">
            <img src="{{user.avatarUrl}}" class="message-avatar" *ngIf="user.avatarUrl">
          </div>
          <span>{{user.username}}</span>
        </div>
      </button>
    </div>

    <button mat-button type="submit">Invite</button>
  </form>

  <button mat-button (click)="leaveRoom()">Leave discussion</button>

</mat-dialog-content>
