<mat-sidenav-container>

  <mat-sidenav mode="side" opened="true" id="chat-list" #chatlist>

    <!-- Lists the projects and communities the rooms are linked to -->
    <div id="room-container-list">
      <div class="chat-server-thumbnail"
           matTooltip="General chat rooms"
           matTooltipPosition="after"
           [class.active]="selectedElement === undefined"
           (click)="showRooms({})">
        <div class="thumbnail-image">
          <mat-icon>people</mat-icon>
        </div>
        <div *ngIf="notificationService.pendingNotifications.unlinkedChat > 0" class="notifications">
          {{notificationService.pendingNotifications.unlinkedChat}}
        </div>
      </div>

      <!-- List projects -->
      <div class="chat-server-thumbnail"
           *ngFor="let projectMembership of currentUserService.getCurrentUser().projectMemberships"
           matTooltip="{{projectMembership.project.name}}"
           matTooltipPosition="after"
           [class.active]="projectMembership.project === selectedElement"
           (click)="showRooms({project: projectMembership.project})">
        <div class="thumbnail-image">
          <img src="{{projectMembership.project.logoUrl}}" [class.active]="projectMembership.project === selectedElement">
        </div>
        <div *ngIf="projectMembership.project.pendingNotification > 0" class="notifications">
          {{projectMembership.project.pendingNotification}}
        </div>
      </div>

      <!-- List communities -->
      <div class="chat-server-thumbnail" *ngFor="let communityMembership of currentUserService.getCurrentUser().communityMemberships"
           matTooltip="{{communityMembership.community.name}}"
           matTooltipPosition="after"
           [class.active]="communityMembership.community === selectedElement"
           [class.pending-notification]="communityMembership.community.pendingNotification"
           (click)="showRooms({community: communityMembership.community})">
        <div class="thumbnail-image">
          <img src="{{communityMembership.community.logoUrl}}">
        </div>
      </div>

    </div>

    <!-- Lists the rooms linked to the selected project or community -->
    <div id="room-list">
      <mat-list>
        <mat-list-item class="new-room-button">
          <button mat-raised-button (click)="openCreateDialog()">
            New discussion
          </button>
        </mat-list-item>
        <mat-list-item *ngFor="let room of roomsInWhichMember"
                       class="room-link"
                       [class.active]="room === selectedRoom"
                       [class.news]="room.active"
                       (click)="goToRoom(room)">
          # {{room.name}}
        </mat-list-item>

        <mat-list-item *ngIf="roomsInWhichNotMember.length > 0">Other rooms</mat-list-item>
        <mat-list-item *ngFor="let room of roomsInWhichNotMember"
                       class="room-link"
                       [class.active]="room === selectedRoom"
                       [class.news]="room.active"
                       (click)="goToRoom(room)">
          # {{room.name}}
        </mat-list-item>
      </mat-list>
    </div>

  </mat-sidenav>

  <div class="chat-content">
    <app-chat-room [room]="selectedRoom" [chatlist]="chatlist" *ngIf="selectedRoom" (onChatRoomUpdate)="updateChatRoomStatus($event)"></app-chat-room>
  </div>

</mat-sidenav-container>
