@import "../../../assets/theme";

#room-container-list{
  width: 75px;
  background-color: #313131;
  color: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  overflow-y: auto;
}

.chat-server-thumbnail {
  width: 50px;
  height: 50px;
  background-color: #212121;
  border-radius: 50%;
  margin: 6px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  flex-shrink: 0;

  &:hover{
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }
}

.active{
  border-radius: 5px;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  &:hover{
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

  > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > mat-icon{
    margin: 13px;
  }
}

#room-list{
  width: 175px;
  background-color: #414141;
}

mat-sidenav-container {
  @include media-breakpoint-smaller {
    margin-top: 56px;
  }
}

.mat-list{
  padding-top: 6px;
}

.new-room-button{
  min-height: 58px;

  > button {
    margin: auto;
  }
}

#chat-list{
  width: 250px;
  border-right: 1px solid rgba(0,0,0,.12);
  display: flex;
  flex-direction: row;
}

.room-link{
  padding-left: 12px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #BDBDBD;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.other-room{
  padding-left: 12px;
  display: flex;
  justify-content: space-between;

  > button {
    color: white;
  }
}

.active{
  color: white;
}

.chat-content {
  height: 100vh;
}

.news{
  font-weight: bolder;
}

.pending-notification {
  -webkit-box-shadow: 0 0 5px #C2185B;
  -moz-box-shadow: 0 0 5px #C2185B;
  box-shadow: 0 0 5px #C2185B;
}

.notifications {
  position: relative;
  top: -20px;
  left: 30px;
  border-radius: 50%;
  background-color: #C2185B;
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
