.task {
  padding: 12px;
  border-radius: 2px;
  height: 100%;
  width: 100%;

  &:hover {
    background-color: #E0E0E0;
    cursor: pointer;
  }
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.task-reward {
  color: white;
  background-color: #880E4F;
  border-radius: 18px;
  padding: 2px 12px;
}

.flex-spacer{
  flex: 1 1 auto;
}

.task-deadline{
  font-weight: bold;
}

.avatar-search-crop{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    cursor: pointer;
  }
}

.task-footer{
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.label {
  height: 24px;
  margin: 6px 6px 6px 0;
  padding: 6px 18px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}
