<div class="task" (click)="openEditDialog()">

  <div class="task-header">
    <span class="task-deadline" *ngIf="task.deadline">{{task.deadline | date}}</span>
    <span class="flex-spacer"></span>
<!--
    TODO: Implement rewards and organization coins.
    <span class="task-reward" *ngIf="task.reward">{{task.reward}}</span>
-->
  </div>

  <div>
    {{task.name}}
  </div>

  <div class="task-footer">
    <div class="label-list">
      <div *ngFor="let label of task.labels" class="label" [ngStyle]="{'background-color': label.color}">{{label.name}}</div>
    </div>
    <div class="avatar-search-crop"
         *ngIf="task.assignee"
         [routerLink]="['/users', task.assignee.username]"
         matTooltipPosition="after"
         matTooltip="{{task.assignee.firstName}} {{task.assignee.lastName}}">
      <img src="../../../../assets/images/profile.svg" *ngIf="!task.assignee.avatarUrl">
      <img src="{{task.assignee.avatarUrl}}" *ngIf="task.assignee.avatarUrl">
    </div>
  </div>

</div>
