<mat-expansion-panel>

  <mat-expansion-panel-header>

    <mat-panel-title>
      <img src="{{getFileTypeIcon(document)}}"
           class="file-pic"
           alt="{{document.extension}}">
      <a href="{{document.fileUrl}}">{{document.name}}</a>
    </mat-panel-title>

    <mat-panel-description>
      <span>Created on {{document.date.slice(0,10)}}</span>
      <span>{{getSizeText(document)}}</span>
    </mat-panel-description>

  </mat-expansion-panel-header>

  <div>
    {{document.description}}
  </div>

  <div>
    Author: <a routerLink="/users/{{document.owner.username}}">{{document.owner.firstName}} {{document.owner.lastName}}</a>
  </div>

</mat-expansion-panel>
