@import '../../../../assets/theme.scss';

#board-list {
  padding: 24px;
}

#manage-boards {
  position: absolute;
  top: 24px;
  right: 24px;
}

nav {
  @include media-breakpoint-large {
    width: fit-content;
    width: -moz-fit-content;
  }

  @include media-breakpoint-larger {
    width: fit-content;
    width: -moz-fit-content;
  }

  @include media-breakpoint-smaller {
    margin-top: 54px;
  }

  @include media-breakpoint-small {
    margin-top: 54px;
  }

  @include media-breakpoint-medium {
    margin-top: 54px;
  }

  .mat-tab-links {
    @include media-breakpoint-large {
      width: fit-content;
      width: -moz-fit-content;
    }

    @include media-breakpoint-larger {
      width: fit-content;
      width: -moz-fit-content;
    }
  }
}

#no-kanban {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
