<div *ngIf="boardsFetched" id="board-list">

  <div id="manage-boards" *ngIf="canEdit">
    <button mat-button *ngIf="selectedBoard" (click)="openBoardUpdateDialog()"><mat-icon>edit</mat-icon> Manage Board</button>
    <button mat-button (click)="openBoardCreationDialog()" *ngIf="boards.length > 0"><mat-icon>add</mat-icon> New Board</button>
  </div>

  <nav mat-tab-nav-bar>
    <span mat-tab-link
       *ngFor="let board of boards"
       (click)="selectBoard(board)"
       [active]="board === selectedBoard">
      {{board.name}}
    </span>
  </nav>

  <app-board [board]="selectedBoard" [membership]="membership" *ngIf="selectedBoard"></app-board>

  <div *ngIf="boards.length === 0" id="no-kanban">
    <h3>No kanban board was found</h3>
    <button mat-button (click)="openBoardCreationDialog()" *ngIf="project && canEdit">Create a board</button>
  </div>

</div>

<div *ngIf="!boardsFetched" class="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
