<mat-progress-bar mode="indeterminate" *ngIf="loadingMessages"></mat-progress-bar>

<div class="chatroom" *ngIf="room && !firstLoad">
  <mat-toolbar>
    <button mat-icon-button (click)="chatlist.toggle()">
      <mat-icon>
        view_list
      </mat-icon>
    </button>
    # {{room.name}}
    <span class="spacer"></span>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>details</mat-icon>
    </button>
  </mat-toolbar>

  <div class="messages" #scrollMe>

    <div *ngIf="noMoreMessagesToLoad; else loadMore" id="room-description">
      <h1>{{room.name}}</h1>
      <markdown [data]="room.description"></markdown>
      <mat-divider></mat-divider>
    </div>
    <ng-template #loadMore>
      <button mat-button (click)="loadMessages()" *ngIf="!loadingMessages">Load More</button>
    </ng-template>

    <div *ngIf="!isRoomMember" id="not-member-message">
      <h2>You are not member of this room</h2>
      <p>You cannot fetch messages of a chat room you are not part of.</p>
    </div>

    <app-chat-message *ngFor="let message of room.messages" [message]="message"></app-chat-message>
  </div>

  <div class="input">

    <mat-form-field class="message-input">
      <textarea matInput placeholder="Send a message"
                #postMessage
                disabled="{{submitted ||! isRoomMember}}"
                [(ngModel)] = "messageToPost.text"
                (keydown.enter)="sendMessage()">
      </textarea>
    </mat-form-field>

    <button mat-icon-button (click)="sendMessage()" [disabled]="!isRoomMember">
      <mat-icon>send</mat-icon>
    </button>

  </div>

</div>
