.messages{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 64px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

.message-input{
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.chat-description{
  font-weight: 100;
  font-size: 1em;
  margin-left: 10px;
}

.spacer{
  flex: 1 1 auto;
}

#room-description {
  margin: 24px;
}

#not-member-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px 12px;
}
