<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <button mat-raised-button class="back-button" routerLink="/login">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back to login
    </button>

    <img src="../../../assets/images/treviz-logo.png" id="logo">

    <h3>Prompt a new password</h3>

    <mat-card class="authentication-card">
      <form class="credentials-inputs" (submit)="sendResetRequest()" #resetForm="ngForm" *ngIf="!success">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" required name="password1" [(ngModel)]="password1">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm your new password" required name="password2" [(ngModel)]="password2">
        </mat-form-field>

        <button mat-raised-button
                type="submit"
                [disabled]="!resetForm.form.valid || isSubmitted || (password1 !== password2)">Send</button>
      </form>
      <div class="redirect-signin">
        <span *ngIf="message" [class.error]="!success">{{message}}</span>
      </div>
    </mat-card>

  </div>

</div>
