@import "../../../assets/theme.scss";

/*
 * Properties for Header display
 */

.avatar-crop{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  border: 5px solid white;

  @include media-breakpoint-smaller {
    width: 75px;
    height: 75px;
    border: 3px solid white;
  }

  @include media-breakpoint-small {
    width: 100px;
    height: 100px;
    border: 4px solid white;
  }

  @include media-breakpoint-medium {
    width: 125px;
    height: 125px;
  }

}

.avatar-upload-zone{
  width: 140px;
  height: 140px;
  top: 165px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: .2s;
  left: 29px;

  @include media-breakpoint-smaller {
    width: 69px;
    height: 69px;
    top: 88px;
    left: 27px;
  }

  @include media-breakpoint-small {
    width: 90px;
    height: 90px;
    top: 105px;
  }

  @include media-breakpoint-medium {
    width: 115px;
    height: 115px;
    top: 120px;
  }

  @include media-breakpoint-large {
    width: 115px;
    height: 115px;
    top: 135px;
  }

  &:hover {
    background-color: $accent-color;
    opacity: 0.5;
    transition-duration: .2s;
    cursor: pointer;
  }
}


.avatar-upload-zone-pending{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 130px;
  left: 30px;
  opacity: 0;
}

.shown{
  opacity: 1;
}


.profile-header-data {
  margin-bottom: -48px;
  padding-bottom: 50px;
  height: 110px;


  @include media-breakpoint-smaller {
    height: 80px;
  }

  @include media-breakpoint-small {
    height: 90px;
  }

  @include media-breakpoint-medium {
    height: 100px;
  }

}

.profile-names h5{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 12px;

  @include media-breakpoint-smaller {
    display: none;
  }
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  color: white;

  @include media-breakpoint-smaller {
    height: 130px;
  }

  @include media-breakpoint-small {
    height: 160px;
  }

  @include media-breakpoint-medium {
    height: 190px;
  }

  @include media-breakpoint-large {
    height: 220px;
  }

  @include media-breakpoint-larger {
    height: 250px;
  }
}

.profile-names {
  display: flex;
  align-items: baseline;
}

.profile-names h3{
  margin-bottom: 5px;
  font-weight: bold;

  @include media-breakpoint-smaller {
    font-size: 18px;
    font-weight: normal;
  }
}

.profile-header-data {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: black;
  z-index: 2;
  padding-left: 24px;
}

.avatar-crop img {
  display: inline;
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.hidden-upload-form{
  display: none;
}

.menu-trigger{
  position: absolute;
  right: 24px;
  top: 24px;
  color: #1F1F1F;
}

.background-upload-button {
  position: absolute;
  right: 24px;
  color: black;

  @include media-breakpoint-smaller {
    top: 90px;
  }

  @include media-breakpoint-small {
    top: 100px;
  }

  @include media-breakpoint-medium {
    top: 130px;
  }

  @include media-breakpoint-large {
    top: 160px;
  }

  @include media-breakpoint-larger {
    top: 190px;
  }
}

.user-background-image {
  width: 100%;
  height:100%;
  object-fit: cover;
}

/*
 * Properties for General Tab display
 */

/*
 * On large screens, display user info and current commitment side by side
 */
@media screen and (min-width: 992px) {

  #user-general{
    display: flex;
    flex-direction: row;
  }

  #user-info{
    flex: 1;
  }

  #user-current-commitment {
    flex: 2;
  }

}

/*
 * On smaller screens, first display user info, then current commitment
 */
@media screen and (max-width: 992px) {
  #user-general{
    display: flex;
    flex-direction: column;
  }
}

#user-info mat-card {
  margin: 24px;
}

#user-current-commitment {
  margin: 24px;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.load-spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.load-spinner-tab{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.user-current-commitment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-smaller {
    flex-direction: column;
    justify-content: center;
  }

  @include media-breakpoint-small {
    flex-direction: column;
    justify-content: center;
  }
}

app-project-thumbnail {
  margin: 24px;
  min-width: 275px;
  width: 80%;
  height: 420px;

  @include media-breakpoint-larger {
    width: 28%;
  }

  @include media-breakpoint-large {
    width: 28%;
  }

  @include media-breakpoint-medium {
    width: 40%;
  }
}

app-community-thumbnail {
  width: 250px;
  height: 175px;
  margin: 12px;
}

app-community-thumbnail:hover {
  cursor: pointer;
}

app-job-thumbnail {
  margin: 12px;
}
