@media screen and (max-width: 768px) {
  #user-edit-form{
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  #user-edit-form{
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  #user-edit-form{
    width: 700px;
  }
}

#user-edit-form{
  display: flex;
  flex-direction:column;
  margin: 24px;
}

#user-names-edit {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.user-skills-list-edit{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 24px;
}

mat-form-field{
  width: 100%;
  margin: 5px;
}
