<div id="user-edit-form">
  <mat-form-field>
    <input matInput placeholder="Username" name="username" [value]="userDto.username">
  </mat-form-field>
  <div id="user-names-edit">
    <mat-form-field>
      <input matInput placeholder="First Name" name="username" [value]="userDto.firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" name="username" [value]="userDto.lastName">
    </mat-form-field>
  </div>
  <mat-form-field>
    <textarea matInput placeholder="Description" name="username" [(ngModel)]="userDto.description"></textarea>
  </mat-form-field>

  <label>Skills</label>

  <mat-form-field  class="section">
    <input matInput placeholder="Add a skill"
           #skillInput
           [matAutocomplete]="autoSkill"
           [formControl]="skillCtrl"
           (keyup.enter)="addSkill(skillInput.value); skillInput.value = ''">
  </mat-form-field>
  <mat-autocomplete #autoSkill="matAutocomplete">
    <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.name" (click)="addSkill(skill.name); skillInput.value = ''">
      {{ skill.name }}
    </mat-option>
  </mat-autocomplete>

  <mat-chip-list class="user-skills-list-edit">
    <div *ngFor="let skill of userDto.skills">
      <button mat-icon-button (click)="removeSkill(skill)"><mat-icon>clear</mat-icon></button>
      <app-tag>
        {{skill}}
      </app-tag>
    </div>
  </mat-chip-list>

  <label>Interests</label>

  <mat-form-field class="section">
    <input matInput placeholder="Add an interest"
           #tagInput
           [matAutocomplete]="autoTag"
           [formControl]="tagCtrl"
           (keyup.enter)="addTag(tagInput.value); tagInput.value = ''">
  </mat-form-field>
  <mat-autocomplete #autoTag="matAutocomplete">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name" (click)="addTag(tag.name); tagInput.value = ''">
      {{ tag.name }}
    </mat-option>
  </mat-autocomplete>

  <mat-chip-list class="user-skills-list-edit">
    <div *ngFor="let tag of userDto.interests">
      <button mat-icon-button (click)="removeTag(tag)"><mat-icon>clear</mat-icon></button>
      <app-tag>
        {{tag}}
      </app-tag>
    </div>
  </mat-chip-list>

  <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="submitted">Update</button>

</div>
