<div *ngIf="user && userFetched" class="user_profile">

  <header>
    <!-- If the user fetched is not the current user, display menu to invite him·er, discuss... -->
    <button mat-raised-button (click)="openChatCreation()" *ngIf="!editPossible" class="menu-trigger">
      <mat-icon>chat</mat-icon>
      <span>Discuss</span>
    </button>

    <!-- Otherwise, display the edit button -->
    <button mat-raised-button class="menu-trigger" (click)="openEditDialog()" *ngIf="editPossible">
      <mat-icon>mode_edit</mat-icon>
      <span>Edit profile</span>
    </button>

    <button mat-raised-button (click)="backgroundInput.click()" *ngIf="editPossible" class="background-upload-button">
      Change Background
    </button>

    <input type="file" (change)="changeBackgroundPicture($event)" #backgroundInput class="hidden-upload-form">

    <img src="{{user.backgroundImageUrl}}" *ngIf="user.backgroundImageUrl" class="user-background-image">

  </header>

  <div class="profile-header-data">
    <div class="avatar-crop" (click)="avatarInput.click()" *ngIf="editPossible">
      <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
      <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
      <div class="avatar-upload-zone-pending" [class.shown]="avatarBeingUploaded">
        <mat-spinner></mat-spinner>
      </div>
      <div class="avatar-upload-zone">
        <mat-icon>file_upload</mat-icon>
      </div>
      <input type="file" (change)="changeAvatar($event)" #avatarInput class="hidden-upload-form">
    </div>
    <div class="avatar-crop" *ngIf="!editPossible">
      <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
      <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
    </div>

    <div class="profile-names">
      <h3>{{user.firstName}} {{user.lastName}}</h3>
      <h5>@{{user.username}}</h5>
    </div>
  </div>

  <div class="user-content">

    <mat-tab-group>

      <mat-tab label="General">

        <div id="user-general">
          <div id="user-info">
            <mat-card>
              <mat-card-title>Description</mat-card-title>
              <mat-card-content>
                <markdown [data]="user.description" *ngIf="user.description; else noDescription"></markdown>
                <ng-template #noDescription>No current description</ng-template>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-title>Skills</mat-card-title>
              <mat-card-content class="skills">
                <app-tag *ngFor="let skill of user.skills">
                  {{skill.name}}
                </app-tag>
                <div *ngIf="user.skills.length === 0">
                  No skill for now
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-title>Interests</mat-card-title>
              <mat-card-content class="skills">
                <app-tag *ngFor="let interest of user.interests">
                  {{interest.name}}
                </app-tag>
                <div *ngIf="user.interests.length === 0">
                  No interest for now
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div id="user-current-commitment">
            <h2 *ngIf="projects.length > 0">Current Projects</h2>
            <div class="user-current-commitment">
              <app-project-thumbnail *ngFor="let project of projects" [project]="project"></app-project-thumbnail>
            </div>

            <h2 *ngIf="communities.length > 0">Communities</h2>
            <div class="user-current-commitment">
              <app-community-thumbnail
                *ngFor="let community of communities"
                (click)="goToCommunity(community)"
                [community]="community"></app-community-thumbnail>
            </div>

            <h2 *ngIf="jobs.length > 0">Jobs</h2>
            <div class="user-current-commitment">
              <app-job-thumbnail *ngFor="let job of jobs" [job]="job"></app-job-thumbnail>
            </div>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="Boards">
        <app-board-list [user]="user"></app-board-list>
      </mat-tab>

      <mat-tab label="My Feedback" *ngIf="editPossible">
        <app-feedback-list [user]="user"></app-feedback-list>
      </mat-tab>

      <mat-tab label="Invitations and Candidacies" *ngIf="editPossible">
        <app-candidacy-thumbnail-list [canDiscard]="editPossible" [user]="user"></app-candidacy-thumbnail-list>
        <app-invitation-thumbnail-list [canApprove]="editPossible" [canDiscard]="editPossible" [user]="user"></app-invitation-thumbnail-list>
      </mat-tab>

    </mat-tab-group>

  </div>

</div>

<div class="load-spinner" *ngIf="!userFetched">
  <mat-spinner></mat-spinner>
</div>
