<!--component html goes here -->
<h2>Notifications</h2>

<p>Select the type of events for which Treviz will send you notifications.</p>

<div>

    <h3>Candidacies</h3>

    <mat-list>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onPost" [disabled]="loading">
                <span class="permission-description">A new post is added to the project</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onCandidacy" [disabled]="loading">
                <span class="permission-description">Someone candidates to the project</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onFork" [disabled]="loading">
                <span class="permission-description">The project is forked</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onNewDocument" [disabled]="loading">
                <span class="permission-description">A new document is added</span>
            </mat-checkbox>
        </mat-list-item>
    </mat-list>

    <h3>Boards and tasks</h3>

    <mat-list>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onNewTask" [disabled]="loading">
                <span class="permission-description">A new task is created in the project</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onAssignedTask" [disabled]="loading">
                <span class="permission-description">A task is affected to me</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onTaskSubmission" [disabled]="loading">
                <span class="permission-description">A task I supervise is submitted</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="projectNotificationPreferences.onTaskApprovalOrRefusal" [disabled]="loading">
                <span class="permission-description">A task I submitted was accepted or rejected</span>
            </mat-checkbox>
        </mat-list-item>
    </mat-list>

    <button mat-raised-button color="primary" (click)="updatePreferences()" [disabled]="loading">Update my preferences</button>

</div>