.community-thumbnail {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

h1{
  text-align: center;
}

.thumbnail-background {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #3F51B5;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.50);
    background-color: rgba(0, 0, 0, 0.25);
  }

}

.thumbnail-content{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 10px;
  position: relative;
  top: -175px;
}

.thumbnail-content > h1, .thumbnail-content > div {
  z-index: 2;
}

.thumbnail-members{
  display: flex;
  align-items: flex-end;
}

.thumbnail-members > span {
  padding-left: 5px;
  font-weight: bold;
  font-size: 1.2em;
}
