<div class="community-thumbnail">
  <div class="thumbnail-background">
    <img *ngIf="community.logoUrl" src="{{community.logoUrl}}">
  </div>
  <div class="thumbnail-content">
    <h1>{{community.name}}</h1>
    <div class="thumbnail-members">
      <mat-icon>group</mat-icon>
      <span [ngPlural]="community.nbMembers">
        <ng-template ngPluralCase="=1">1 member</ng-template>
        <ng-template ngPluralCase="other">{{community.nbMembers}} members</ng-template>
    </span>
    </div>
  </div>
</div>
