<div class="project-create-content">

  <h1>Create a project</h1>

  <mat-card *ngIf="ideaFetched && idea.session.community !== undefined">
    <mat-card-title>
      This project is based on the idea of the community
      <a routerLink="/communities/{{idea.session.community.hash}}">{{idea.session.community.name}}</a> :
    </mat-card-title>
    <mat-card-content>{{idea.content}}</mat-card-content>
  </mat-card>

  <mat-card *ngIf="parentProjectFetched && parentProject != null">
    <mat-card-title>
      This project is a fork of the project
      <a routerLink="/projects/{{parentProject.hash}}">{{parentProject.name}}</a> :
    </mat-card-title>
  </mat-card>

  <h3>General information</h3>
  <label>
    Give a name to your project :
  </label>
  <mat-form-field>
    <input matInput
           disabled="{{submitted}}"
           required
           placeholder="Name"
           #title
           [(ngModel)]="projectDto.name">
  </mat-form-field>

  <label>
    Pitch your idea in less than 140 characters.
  </label>
  <mat-form-field>
    <textarea matInput
              required
              disabled="{{submitted}}"
              placeholder="Short description"
              #shortDescription
              [(ngModel)]="projectDto.shortDescription"></textarea>
    <mat-hint align="end">{{140 - shortDescription.value.length}}</mat-hint>
  </mat-form-field>

  <label>
    Describe your project in detail:
    <ul>
      <li>What is its origin, its history ?</li>
      <li>What is its current state ?</li>
      <li>What are you looking for ?</li>
    </ul>
    Do not hesitate to create a small to-do list for other members to see exactly what they can bring.
  </label>
  <mat-form-field>
    <textarea
      matInput
      required
      disabled="{{submitted}}"
      placeholder="Description"
      #description
      [(ngModel)]="projectDto.description"></textarea>
    <mat-hint align="end"><a href="https://guides.github.com/features/mastering-markdown/">We support markdown !</a></mat-hint>
  </mat-form-field>

  <label>What skills do you need ?</label>
  <mat-form-field>
    <input matInput placeholder="Add a skill"
           #skillInput
           disabled="{{submitted}}"
           [matAutocomplete]="autoSkill"
           [formControl]="skillCtrl"
           (keyup.enter)="addSkill(skillInput.value); skillInput.value = '' "
           class="autocomplete-input">
  </mat-form-field>
  <mat-autocomplete #autoSkill="matAutocomplete">
    <mat-option *ngFor="let skill of filteredSkills | async"
               [value]="skill.name"
               (click)="addSkill(skill.name); skillInput.value = ''">
      {{ skill.name }}
    </mat-option>
  </mat-autocomplete>

  <div class="store">
    <div *ngFor="let skill of projectDto.skills">
      <button mat-icon-button (click)="removeSkill(skill)"><mat-icon>clear</mat-icon></button>
      <mat-basic-chip class="chip">
        {{skill}}
      </mat-basic-chip>
    </div>
  </div>

  <label>Give additional tags to your project</label>
  <mat-form-field>
    <input matInput placeholder="Add a tag"
           #tagInput
           disabled="{{submitted}}"
           [matAutocomplete]="autoTag"
           [formControl]="tagCtrl"
           (keyup.enter)="addTag(tagInput.value); tagInput.value = ''"
           class="autocomplete-input">
  </mat-form-field>
  <mat-autocomplete #autoTag="matAutocomplete">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name" (click)="addTag(tag.name); tagInput.value = ''">
      {{ tag.name }}
    </mat-option>
  </mat-autocomplete>

  <div class="store">
    <div *ngFor="let tag of projectDto.tags">
      <button mat-icon-button (click)="removeTag(tag)"><mat-icon>clear</mat-icon></button>
      <mat-basic-chip class="chip">
        {{tag}}
      </mat-basic-chip>
    </div>
  </div>

  <label>Upload a picture to illustrate your project</label>

  <button mat-fab (click)="fileInput.click()" *ngIf="!logoUploaded">
    <mat-icon >file_upload</mat-icon>
  </button>
  <button mat-fab (click)="fileInput.click()" *ngIf="logoUploaded" class="uploaded">
    <mat-icon >done</mat-icon>
  </button>

  <input type="file"
         #fileInput
         name="file"
         class="file-input"
         (change)="addFile($event)"/>

  <label>Or chose one from you library</label>

  <div  class="project-base-illustration-grid">
    <div *ngFor="let image_url of base_project_illustrations"
         class="project-base-illustration-cropper"
         (click)="selectPicture(image_url)"
         [class.selected]="image_url == this.projectDto.logoUrl">
      <img src="{{image_url}}" class="project-base-illustration-picture">
    </div>
  </div>

  <h3>Visibility</h3>

  <label>Who can see your project ?</label>

  <div class="select-visibility">
    <div *ngFor="let visibility_type of visibility; let i=index;"
         (click)="selectVisibility(i)"
         class="select-visibility-option"
         [class.isSelected]="visibility_type.selected">
      <div class="select-visibility-option-head">
        <mat-icon>{{visibility_type.value}}</mat-icon>
        <strong>{{visibility_type.viewValue}}</strong>
      </div>
      <div class="select-visibility-option-description">
        {{visibility_type.description}}
      </div>
    </div>
  </div>

  <div class="form-part">
    <h3>Communities</h3>
    <div id="community-list">
      <app-community-thumbnail
        *ngFor="let community of communities"
        (click)="triggerSelect(community)"
        [class.selected]="community.isSelected"
        [community]="community"></app-community-thumbnail>
    </div>
  </div>

  <button mat-raised-button type="submit"
          disabled="{{!(visibility[0].selected || visibility[1].selected || submitted)}}"
          (click)="onSubmit()">Validate</button>

</div>
