@import "../../../assets/theme";

.project-create-content{
  margin: 42px;
  display: flex;
  flex-direction: column;
}

#create-project-card{
  width: 75%;
  margin: 15pt auto 15pt auto;
  display: flex;
  flex-direction: column;
}

.shown{
  display: flex;
}

label{
  font-family: "Roboto Light", "Lato Light", "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
  margin-top: 15px;
}

.skill{
  margin: 10pt;
}

.store{
  background-color: white;
  min-height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.12);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.store > div{
  display: inline-block;
}

.form-part{
  margin-bottom: 10px;
}

.autocomplete-input{
  width: 250px;
}

.select-visibility-option{
  margin: 10px;
  padding: 10px;
  line-height:36px;
  border-radius: 5px;
  transition-duration: 0.1s;
}

.select-visibility-option:hover{
  background-color: #E0E0E0;
  cursor: pointer;
  transition-duration: 0.1s;
}

.select-visibility-option-head{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-visibility-option-head > strong{
  margin-left: 20px;
}


.select-visibility-option-description{
  font-weight: 100;
}

.isSelected{
  background-color: #E0E0E0;
  transition-duration: 0.1s;
}

.project-base-illustration-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-base-illustration-cropper{
  width: 200px;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  transition-duration: .1s;
}

.project-base-illustration-cropper:hover, app-community-thumbnail:hover{
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  transition: all .1s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.project-base-illustration-picture{
  height: 100%;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.selected{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 2px 15px rgba(0,0,0,.42);
  transition:all .1s ease-in-out;
}

.file-input{
  display: none;
}

.uploaded{
  background-color: #388e3c;
}

mat-form-field {
  width: 100%;
}

#community-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

app-community-thumbnail {
  width: 250px;
  height: 175px;
  margin: 12px;
}
