@import "../../../assets/theme.scss";

mat-sidenav-container{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #ECEFF1;
}

mat-sidenav-container mat-sidenav {
  width: 250px;
  overflow: visible;
  background-color: #212121;
  overflow-y: auto;
}

@media screen and (min-width: 752px) {
  mat-sidenav-container mat-sidenav {
    width: 100px;
    background-color: #212121;
  }

  .nav-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px !important;

    h3 {
      display: none;
    }
  
    .avatar-crop{
      width: 50px !important;
      height: 50px !important;
    }
  }

  .nav-list-header{
    margin: 0 !important;
    padding: 0 !important;
    color: #757575; 
  }

  .nav-link {
    width: 100px !important;
    height: 62px !important;
    padding: 0 !important;

    .nav-link-content {
      font-size: 0.7em;
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      width: 100px;
      font-weight: 100 !important;
      padding: 0 !important;
  
      .icon {
        margin: 0 0 4px 0 !important;
      }
    }
  }

  .active {
    border-right: 3px solid white;
  }
}

.nav-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 12px 24px 12px;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    h3 {
      margin: 6px;
      font-size: 1.3em;
    }

    .avatar-crop {
      width: 50px !important;
      height: 50px !important;
    }

  }

  .avatar-crop{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    > img {
      width: 100% !important;;
      height: 100% !important;;
      object-fit: cover;
    }
  }

  .avatar-crop:hover {
    cursor: pointer;
  }

  #logo{
    width: 125px;
    height: 125px;

    @include media-breakpoint-smaller {
      width: 100px !important;
      height: 100px !important;;
    }
  }

  h3 {
    color: white;
  }

}

mat-list-item{
  padding: 0 16px 10px 16px;
}

.nav-list-header{
  margin-left: 12px;
  font-family: "Roboto", "Lato", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #757575;
}

.icon{
  margin-right: 10px;
  margin-left: 24px;
}

.mat-list-item{
  display: flex;
  flex-direction: column;
}

.nav-link{
  font-family: "Roboto", "Lato", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #9E9E9E;
  text-decoration: none;
  padding: 5px;

  &:hover {
    color: #FAFAFA;
    cursor: pointer;
    background-color: #212121;
    transition: all .1s ease-in;
  }

  .nav-link-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.active {
  color: white;
}

#toggleSideNavButton{
  position: fixed;
  top: 24px;
  left: 42px;
  display: none;

  @include media-breakpoint-smaller {
    display: block;
    z-index: 99;
    background: #E0E0E0;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.25);
  }
}

a{
  color: white;
}

.notifications {
  border-radius: 50%;
  background-color: #C2185B;
  height: 25px;
  width: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
