<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="{{!smallScreen && this.auth.loggedIn() && (currentUserService.getCurrentUser() != null)}}">

    <div class="nav-user-info" (click)="goToProfile()" *ngIf="currentUserService.getCurrentUser()">
     <div class="avatar-crop">
        <img src="../../../assets/images/profile.svg" *ngIf="!currentUserService.getCurrentUser().avatarUrl">
        <img src="{{currentUserService.getCurrentUser().avatarUrl}}" *ngIf="currentUserService.getCurrentUser().avatarUrl">
      </div>
      <h3>
        <a [routerLink]="['/users', currentUserService.getCurrentUser().username]">
          {{currentUserService.getCurrentUser().firstName}} {{currentUserService.getCurrentUser().lastName}}
        </a>
      </h3>
    </div>

    <div class="nav-user-info" *ngIf="!currentUserService.getCurrentUser()">
      <img src="../../../assets/images/treviz-logo.png" id="logo">
    </div>

    <mat-divider></mat-divider>

    <mat-list>
      <!--
      <mat-list-item class="nav-list-header">General</mat-list-item>
      -->
      <mat-list-item (click)="goToHomepage()" class="nav-link" [class.active]="isHomePage()">
        <div class="nav-link-content">
          <mat-icon class="icon">home</mat-icon>Home
        </div>
      </mat-list-item>
      <mat-list-item (click)="goToChat()" class="nav-link" [class.active]="isCurrentRoute('/chat')">
        <div class="nav-link-content">
          <mat-icon class="icon">chat</mat-icon>
          Chat
          <div *ngIf="notificationService.pendingNotifications.chat" class="notifications">{{notificationService.pendingNotifications.chat}}</div>
        </div>
      </mat-list-item>
      <mat-list-item (click)="goToProjects()" class="nav-link" [class.active]="isCurrentRoute('/projects')">
        <div class="nav-link-content">
          <mat-icon class="icon">assignment</mat-icon>Projects
        </div>
      </mat-list-item>
      <mat-list-item (click)="goToBoards()" class="nav-link" [class.active]="isCurrentRoute('/boards')">
        <div class="nav-link-content">
          <mat-icon class="icon">dashboard</mat-icon>Boards
        </div>
      </mat-list-item>
      <mat-list-item (click)="goToJobs()" class="nav-link" [class.active]="isCurrentRoute('/jobs')">
          <div class="nav-link-content">
            <mat-icon class="icon">work</mat-icon>Jobs
          </div>
      </mat-list-item>
      <mat-list-item (click)="goToCommunities()" class="nav-link" [class.active]="isCurrentRoute('/communities')">
          <div class="nav-link-content">
            <mat-icon class="icon">language</mat-icon>Communities
          </div>
      </mat-list-item>
      <mat-list-item (click)="goToUsers()" class="nav-link" [class.active]="isCurrentRoute('/users')">
          <div class="nav-link-content">
            <mat-icon class="icon">people</mat-icon>Users
          </div>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
      <!--
        <mat-list-item class="nav-list-header">Application</mat-list-item>
      <mat-list-item *ngIf="currentUserService.isOrganizationAdmin()" class="nav-link"><mat-icon class="icon">settings</mat-icon>Manage Organization</mat-list-item>
-->
      <mat-list-item (click)="openSettings()" class="nav-link">
        <div class="nav-link-content">
          <mat-icon class="icon">settings</mat-icon>Settings
        </div>
      </mat-list-item>
      <mat-list-item (click)="openInfo()" class="nav-link">
        <div class="nav-link-content">
          <mat-icon class="icon">info</mat-icon>About
        </div>
      </mat-list-item>
      <mat-list-item (click)="logout()" class="nav-link">
          <div class="nav-link-content">
            <mat-icon class="icon">exit_to_app</mat-icon>Logout
          </div>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <div>
    <button mat-icon-button
            (click)="toggleSideNav()"
            id="toggleSideNavButton"
            *ngIf="auth.loggedIn() && currentUserService.getCurrentUser()">
      <mat-icon>menu</mat-icon>
    </button>

    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
