@media screen and (max-width: 768px) {
  .avatar-search-crop{
    display: none;
  }
}

#project-header{
  padding-top: 24px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.image-cropper{
  height: 100px;
  width: 100px;
  min-width: 100px;
  margin-left: 30px;
  margin-right: 10px;
  overflow: hidden;
}

.image-cropper > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.project-substitute-logo{
  background-color: #00897B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

#project-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 42px;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      margin: 6px 0;
    }

    #project-action {
      margin-left: 24px;

      > button{
        width:100%;
      }
    }
  }
}



.project-element, app-post-list{
  margin: 20px;
}

.project-team-tab {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#project-tags{
  margin-left: 10px;
  margin-right: 10px;
}

#project-tags > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-actions{
  position: absolute;
  top: 10px;
  right:0;
  float: right;
  margin-right: 20px;
  display: flex;
  flex-direction: row;

  button {
    margin: 6px;
  }
}

.hidden-upload-form{
  display: none;
}

.upload-zone{
  width: 100%;
  height: 100%;
  margin-bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  opacity: 0;
  transition-duration: .2s;
  z-index: 10;
}

.upload-zone:hover{
  background-color: #E91E63;
  opacity: 0.8;
  transition-duration: .2s;
  cursor: pointer;
  z-index: 10;
}

.upload-zone-pending{
  width: 100%;
  height: 100%;
  margin-bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  opacity: 0;
}

.hidden-upload-form{
  display: none;
}


#news-header{
  margin-left: auto;
  margin-right:auto;
  font-family: "Roboto Light", "Lato Light", "Lucida Sans", Arial, SansSerif;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #7986CB;
}

.action-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.team-extended-member{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.load-spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.load-spinner-tab{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.user-element{
  height: 75px;
}

.user-element > td {
  height: 75px;
}

.user-avatar-name {
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: 12px;
  margin-bottom: 12px;
}

app-document-list{
  margin: 24px;
}

/*
 * Manage memberships
 */

.memberships-card {
  margin: 5px;
}

.spacer{
  flex: 1 1 auto;
  height: 80px;
}

.user-invitation {
  display: flex;
  flex-direction: row;
  > div {
    padding: 24px;
  }
}

.avatar-search-crop{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.accept-button {
  background-color: #1B5E20;
  margin: 12px;
  color: white;
}
