<mat-dialog-content class="edit-profile-dialog">

  <section>
    <h4>General Information</h4>
    <mat-form-field class="section">
      <input matInput placeholder="Title"
             #projectTitle
             [(ngModel)]="projectDto.name"
             disabled="{{pendingChange}}">
    </mat-form-field>
    <mat-form-field class="section">
      <input matInput placeholder="Short description"
             #projectshortDescription
             [(ngModel)]="projectDto.shortDescription"
             disabled="{{pendingChange}}">
      <mat-hint align="end">{{140 - projectDto.shortDescription.length}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="section">
      <textarea matInput placeholder="Full description of the project" rows="5"
                #projectDescription
                [(ngModel)]="projectDto.description"
                disabled="{{pendingChange}}"></textarea>
    </mat-form-field>
  </section>

  <div>
    <h4>Skills</h4>
    <mat-form-field>
      <input matInput placeholder="Add a skill"
             #skillInput
             [matAutocomplete]="autoSkill"
             [formControl]="skillCtrl"
             (keyup.enter)="addSkill(skillInput.value); skillInput.value = ''"
             disabled="{{pendingChange}}">
    </mat-form-field>
    <mat-autocomplete #autoSkill="matAutocomplete">
      <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.name" (click)="addSkill(skill.name); skillInput.value = ''">
        {{ skill.name }}
      </mat-option>
    </mat-autocomplete>

    <div class="store">
      <div *ngFor="let skill of projectDto.skills">
        <button mat-icon-button (click)="removeSkill(skill)"><mat-icon>clear</mat-icon></button>
        <app-tag>
          {{skill}}
        </app-tag>
      </div>
    </div>
  </div>

  <div>
    <h4>Tags</h4>
    <mat-form-field>
      <input matInput placeholder="Add a tag"
             #tagInput
             [matAutocomplete]="autoTag"
             [formControl]="tagCtrl"
             (keyup.enter)="addTag(tagInput.value); tagInput.value = ''"
             disabled="{{pendingChange}}">
    </mat-form-field>
    <mat-autocomplete #autoTag="matAutocomplete">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name" (click)="addTag(tag.name); tagInput.value = ''">
        {{ tag.name }}
      </mat-option>
    </mat-autocomplete>

    <div class="store">
      <div *ngFor="let tag of projectDto.tags">
        <button mat-icon-button (click)="removeTag(tag)"><mat-icon>clear</mat-icon></button>
        <app-tag>
          {{tag}}
        </app-tag>
      </div>
    </div>
  </div>

  <div class="form-part">
    <h3>Visibility</h3>

    <div class="select-visibility">
      <div *ngFor="let visibility_type of visibility; let i=index;"
           (click)="selectVisibility(i)"
           class="select-visibility-option"
           [class.isSelected]="visibility_type.selected">
        <div class="select-visibility-option-head">
          <mat-icon>{{visibility_type.value}}</mat-icon>
          <strong>{{visibility_type.viewValue}}</strong>
        </div>
        <div class="select-visibility-option-description">
          {{visibility_type.description}}
        </div>
      </div>
    </div>
  </div>

  <div class="form-part">
    <h3>Communities</h3>
    <div id="community-list">
      <app-community-thumbnail
        *ngFor="let community of communities"
        (click)="triggerSelect(community)"
        [class.selected]="community.isSelected"
        [community]="community"></app-community-thumbnail>
    </div>

  </div>

  <button mat-button class="delete-button" (click)="deleteProjectIntent()" disabled="{{pendingChange}}">Delete the project</button>
  <button mat-raised-button class="validate-button" (click)="putProject()" disabled="{{pendingChange}}">Validate</button>

  <div class="confirm-delete" [class.shown]="deleteIntent">
    <h4>Do you really want to delete this project ? This action cannot be undone.</h4>
    <button mat-raised-button (click)="deleteProjectIntent()">No</button>
    <button mat-raised-button (click)="deleteProject()">Yes</button>
  </div>

</mat-dialog-content>
