<div class="content" *ngIf="project">

  <div id="project-header">

    <div class="project-actions">
      <button mat-icon-button [routerLink]="['/projects/create']" [queryParams]="{project: project.hash}"><mat-icon>call_split</mat-icon></button>
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userMembership" class="edit-button">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditMode()" [disabled]="!hasPermission('UPDATE_PROJECT')">
          <mat-icon>mode_edit</mat-icon>
          <span>Update project</span>
        </button>
        <button mat-menu-item
                (click)="openTeamManagementDialog()"
                [disabled]="!(hasPermission('MANAGE_ROLE') || hasPermission('MANAGE_MEMBERSHIP'))">
          <mat-icon>group_add</mat-icon>
          <span>Manage Team</span>
        </button>
        <button mat-menu-item (click)="openNotificationPreferencesDialog()">
          <mat-icon>settings</mat-icon>
          <span>Notification preferences</span>
        </button>
      </mat-menu>
    </div>    


    <div class="image-cropper" (click)="fileInput.click()">
        <div class="upload-zone-pending" [class.shown]="logoBeingUploaded">
          <mat-spinner></mat-spinner>
        </div>
        <div class="upload-zone" *ngIf="hasPermission('UPDATE_PROJECT')">
          <mat-icon>file_upload</mat-icon>
        </div>
        <input type="file" (change)="changeLogo($event)" #fileInput class="hidden-upload-form">
        <img *ngIf="project.logoUrl"  src="{{project.logoUrl}}">
        <div *ngIf="!project.logoUrl" class="project-substitute-logo"> {{project.name}} </div>
      </div>

    <div id="project-title">
      <div>
          <h1>{{project.name}}</h1>
          <div id="project-action">
              <button mat-raised-button color="accent"
                      *ngIf="userCandidacy == null
                          && userMembership == null
                          && userInvitation == null"
                      (click)="openCandidacyDialog()">
                Candidate
              </button>
    
              <button mat-raised-button color="accent" *ngIf="userCandidacy" (click)="declineCandidacy(userCandidacy)">
                Discard candidacy
              </button>
    
              <button mat-raised-button color="accent" *ngIf="userInvitation" (click)="acceptInvitation()">
                Accept invitation
              </button>
              <button mat-raised-button color="accent" *ngIf="userInvitation" (click)="deleteInvitation(userInvitation)">
                Reject invitation
              </button>
    
              <button mat-raised-button *ngIf="userMembership" disabled>
                Member <mat-icon>done</mat-icon>
              </button>
          </div>
      </div>
      <h5>{{project.shortDescription}}</h5>
    </div>
  </div>

  <mat-tab-group>

    <mat-tab label="General">

      <mat-card class="project-element">

        <mat-card-title>About</mat-card-title>

        <mat-card-content>

          <markdown [data]="project.description"></markdown>

        </mat-card-content>

        <div id="project-tags">
            <div>
              <h3>Skills</h3>
              <mat-chip-list>
                <app-tag *ngFor="let skill of project.skills">
                  {{skill.name}}
                </app-tag>
              </mat-chip-list>
            </div>
            <div>
              <h3>Tags</h3>
              <mat-chip-list>
                <app-tag *ngFor="let tag of project.tags">
                  {{tag.name}}
                </app-tag>
              </mat-chip-list>
            </div>
          </div>

      </mat-card>

      <app-post-list [project]="project" [canPost]="userMembership != null"></app-post-list>

    </mat-tab>

    <mat-tab label="Team">

      <div class="project-team-tab" *ngIf="membershipsFetched">

        <div *ngIf="candidacies.length > 0 && hasPermission('READ_CANDIDACIES')" class="memberships-card">
          <h2>Candidates</h2>

          <app-project-candidacy-list
          [candidacies]="candidacies"
          [canApprove]="true"
          (onCandidacyAccepted)="handleCandidacyAccepted($event)"
          (onCandidacyRefused)="removeCandidacy($event)"></app-project-candidacy-list>
        </div>

        <mat-card *ngIf="invitations.length > 0 && hasPermission('READ_INVITATIONS')" class="memberships-card">
          <h2>Invitations</h2>

          <div *ngFor="let invitation of invitations"
               class="user-invitation">

            <div class="user-avatar-name">
              <div class="avatar-search-crop">
                <img src="../../../assets/images/profile.svg" *ngIf="!invitation.user.avatarUrl">
                <img src="{{invitation.user.avatarUrl}}" *ngIf="invitation.user.avatarUrl">
              </div>
              {{invitation.user.firstName}} {{invitation.user.lastName}}
            </div>

            <div class="spacer"></div>

            <div>
              <div>
                <button mat-button (click)="removeInvitation(invitation)">Remove Invitation</button>
              </div>
            </div>

          </div>

        </mat-card>

        <mat-card class="memberships-card">
          <h2>Members</h2>
          <mat-table #table [dataSource]="membershipSource">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="user">
              <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
              <mat-cell *matCellDef="let membership">
                <div class="user-avatar-name">
                  <div class="avatar-search-crop hover">
                    <img src="../../../assets/images/profile.svg" *ngIf="!membership.user.avatarUrl">
                    <img src="{{membership.user.avatarUrl}}" *ngIf="membership.user.avatarUrl">
                  </div>
                  <a [routerLink]="['/users', membership.user.username]">{{membership.user.firstName}} {{membership.user.lastName}}</a>
                </div>
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="role">
              <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
              <mat-cell *matCellDef="let membership"> {{membership.role.name}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="membershipsColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: membershipsColumns;"></mat-row>
          </mat-table>
        </mat-card>
      </div>

      <div class="load-spinner-tab" *ngIf="!membershipsFetched">
        <mat-spinner></mat-spinner>
      </div>

    </mat-tab>

    <mat-tab label="Jobs">
      <app-job-thumbnail-list [project]="project" [displayCreateButton]="hasPermission('MANAGE_KANBAN')"></app-job-thumbnail-list>
    </mat-tab>

    <mat-tab label="Boards" *ngIf="membershipsFetched">
      <app-board-list [project]="project" [membership]="userMembership"></app-board-list>
    </mat-tab>

    <mat-tab label="Documents" *ngIf="userMembership">
      <app-document-list [project]="project"></app-document-list>
    </mat-tab>

  </mat-tab-group>

</div>

<div class="load-spinner" *ngIf="!project">
  <mat-spinner></mat-spinner>
</div>
