@import "../../../../assets/theme";

#idea-list, #submit-idea{
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-small {
    flex-direction: column;
  }

  @include media-breakpoint-smaller {
    flex-direction: column;
  }
}

form {
  width: 100%;
  display: flex;
}

mat-form-field{
  width: 100%;
}

app-brainstorming-idea-card {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;

  @include media-breakpoint-medium {
    width: 80%;
    padding: 24px;
  }

  @include media-breakpoint-large {
    width: 50%;
    padding: 24px;
  }

  @include media-breakpoint-larger {
    width: 33%;
    padding: 24px;
  }
}

mat-progress-spinner{
  width: 100%;
  margin: 24px auto;
}
