<mat-card id="submit-idea">
  <form #ideaForm="ngForm" (submit)="onSubmit()">
    <mat-form-field>
        <textarea matInput required
                  placeholder="Description"
                  #description
                  name="Add a new idea"
                  [(ngModel)]="ideaDto.content"
                  rows="2"></textarea>
    </mat-form-field>
    <button mat-icon-button type="submit" [disabled]="!ideaForm.form.valid || ideaSubmitted"><mat-icon>send</mat-icon></button>
  </form>
</mat-card>

<div id="idea-list" *ngIf="ideasFetched; else loading">
  <app-brainstorming-idea-card *ngFor="let idea of ideas" [idea]="idea" (onIdeaSelect)="selectIdea($event)"></app-brainstorming-idea-card>
</div>
<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
