<mat-dialog-content class="create-community-dialog">

  <section>

    <form>

      <mat-form-field>
        <input matInput required
               placeholder="Name"
               #name
               name="name"
               [(ngModel)]="communityDto.name">
      </mat-form-field>

      <mat-form-field>
          <textarea matInput required
                    placeholder="Description"
                    #description
                    name="description"
                    [(ngModel)]="communityDto.description"
                    rows="5"></textarea>
        <mat-hint align="end"><a href="https://guides.github.com/features/mastering-markdown/">We suppport Markdown!</a></mat-hint>
      </mat-form-field>

      <section>
        <h3>Visibility</h3>
        <div>
          A community can either be public or private. A public community can be seen by anyone, while a private one
          is ony accessible to its members, on invitation.
          <br/>
          Public communities can be open: joining them does not require the approval of any administrator.
        </div>
        <mat-checkbox #visible
                      name="visible"
                      [(ngModel)]="communityDto.isPublic">Public community</mat-checkbox>
        <br/>
        <mat-checkbox #open
                      name="open"
                      *ngIf="communityDto.isPublic"
                      [checked]="communityDto.isPublic && communityDto.open"
                      [(ngModel)]="communityDto.open">Open community</mat-checkbox>
      </section>

      <h3>Logo</h3>
      <div>Upload a logo</div>

      <button mat-fab (click)="fileInput.click()" *ngIf="!logoBeingUploaded">
        <mat-icon >file_upload</mat-icon>
      </button>
      <button mat-fab (click)="fileInput.click()" *ngIf="logoBeingUploaded" class="uploaded">
        <mat-icon >done</mat-icon>
      </button>

      <input type="file"
             #fileInput
             name="file"
             class="file-input"
             (change)="addFile($event)"/>

      <button mat-raised-button
              disabled="{{pendingChange}}"
              (click)="onSubmit()"
              color="primary">Update Community</button>

    </form>

  </section>

  <section>
    <button mat-raised-button
            disabled="{{deleteIntent || pendingChange}}"
            (click)="deleteCommunityIntent()"
            color="accent">Delete</button>

    <div class="confirm-delete" [class.shown]="deleteIntent">
      <h4>Are you sure you want to delete this community ? This action cannot be undone.</h4>
      <button mat-raised-button disabled="{{pendingChange}}" (click)="deleteCommunity()">Yes</button>
      <button mat-raised-button disabled="{{pendingChange}}"  (click)="deleteCommunityIntent()">Non</button>
    </div>
  </section>


</mat-dialog-content>
