.create-community-dialog{
  margin: 15pt auto 15pt auto;
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

section, input, button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirm-delete {
  margin: 5px;
  display: none;
}

.shown{
  display: block;
}

mat-form-field {
  width: 100%;
}

.file-input{
  display: none;
}

.uploaded{
  background-color: #388e3c;
}
