<div *ngIf="community && membershipsFetched">

  <header>

    <!-- Display menu button to update the project, the roles, team... if the user has the rights to. -->

    <div *ngIf="userMembership">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-trigger" >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditMode()" [disabled]="!canUpdateCommunity()">
          <mat-icon>share</mat-icon>
          <span>Update community</span>
        </button>
        <button mat-menu-item (click)="openTeamManagementDialog()" [disabled]="!(canUpdateMemberships() || canUpdateRoles())">
          <mat-icon>group</mat-icon>
          <span>Manage Team</span>
        </button>
        <button mat-menu-item (click)="openPreferencesDialog()">
            <mat-icon>settings</mat-icon>
            <span>Notification Preferences</span>
        </button>
      </mat-menu>
    </div>

    <div id="community-name">
      <h1>{{community.name}}</h1>
    </div>

    <div class="community-action-buttons" *ngIf="membershipsFetched && candidaciesFetched && invitationsFetched">
      <!-- Display the "change background" button only if the user has the rights to. -->
      <button mat-raised-button (click)="backgroundInput.click()" class="background-upload-button" *ngIf="canUpdateCommunity()">
        Change Background
      </button>
      
      <!-- Actions regarding membership (candidate, accept invitation, leave project...)-->
      <button mat-raised-button color="accent"
      *ngIf="userCandidacy == null
        && userMembership == null
        && userInvitation == null"
      (click)="openCandidacyDialog()">
        Candidate
      </button>

      <button mat-raised-button color="accent" *ngIf="userCandidacy" (click)="declineCandidacy(userCandidacy)">
        Discard candidacy
      </button>

      <button mat-raised-button color="accent" *ngIf="userInvitation" (click)="deleteInvitation(userInvitation)">
          Reject invitation
      </button>
      <button mat-raised-button color="accent" *ngIf="userInvitation" (click)="acceptInvitation()">
        Accept invitation
      </button>

      <button mat-raised-button *ngIf="userMembership" [matMenuTriggerFor]="membershipMenu" id="membership-menu-trigger">
        Member <mat-icon>done</mat-icon>
      </button>

      <mat-menu #membershipMenu>
        <button mat-menu-item *ngIf="userMembership !== null" (click)="leaveCommunity()">Leave</button>
      </mat-menu>
    </div>

    <input type="file" (change)="changeBackgroundPicture($event)" #backgroundInput class="hidden-upload-form">

    <img src="{{community.backgroundImageUrl}}" *ngIf="community.backgroundImageUrl" id="community-background-image">

  </header>

  <mat-tab-group>
    <mat-tab label="General">

      <div *ngIf="community" class="community-general">

        <!-- Display community description -->

        <div id="community-description">
          <h2>About</h2>
          <div>
            <markdown [data]="community.description"></markdown>
          </div>

          <!-- List community members: only show avatars, name & roles are displayed as tooltips -->

          <div *ngIf="membershipsFetched">
            <h3 [ngPlural]="memberships.length">
              <ng-template ngPluralCase="=0">No member</ng-template>
              <ng-template ngPluralCase="=1">1 member</ng-template>
              <ng-template ngPluralCase="other">{{memberships.length}} members</ng-template>
            </h3>
            <div class="member-list">
              <div *ngFor="let membership of memberships">
                <div class="avatar-search-crop"
                     [routerLink]="['/users', membership.user.username]"
                     matTooltip="{{membership.user.firstName}} {{membership.user.lastName}} - {{membership.role.name}}">
                  <img src="../../../assets/images/profile.svg" *ngIf="!membership.user.avatarUrl">
                  <img src="{{membership.user.avatarUrl}}" *ngIf="membership.user.avatarUrl">
                </div>
              </div>
            </div>
          </div>

          <!-- List invited members and candidates -->

          <div *ngIf="invitationsFetched && invitations.length > 0">
            <h3 [ngPlural]="invitations.length">
              <ng-template ngPluralCase="=0">No invitation</ng-template>
              <ng-template ngPluralCase="=1">1 invitation</ng-template>
              <ng-template ngPluralCase="other">{{invitations.length}} invitations</ng-template>
            </h3>
            <div class="invitation-list">
              <div *ngFor="let invitation of invitations">
                <div class="avatar-search-crop"
                     [routerLink]="['/users', invitation.user.username]"
                     matTooltip="{{invitation.user.firstName}} {{invitation.user.lastName}}">
                  <img src="../../../assets/images/profile.svg" *ngIf="!invitation.user.avatarUrl">
                  <img src="{{invitation.user.avatarUrl}}" *ngIf="invitation.user.avatarUrl">
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="candidaciesFetched && candidacies.length > 0 && userMembership != null">
            <h3 [ngPlural]="candidacies.length">
              <ng-template ngPluralCase="=0">No candidate</ng-template>
              <ng-template ngPluralCase="=1">1 candidate</ng-template>
              <ng-template ngPluralCase="other">{{candidacies.length}} candidates</ng-template>
            </h3>
            <app-community-candidacy-list
              [candidacies]="candidacies"
              [canApprove] = "canManageCandidacies()"
              (onCandidacyRefused)="removeCandidacy($event)"
              (onCandidacyAccepted)="handleCandidacyAccepted()"></app-community-candidacy-list>
          </div>

        </div>

        <!-- Display posts, comments, allow user to create some, by including the PostListComponent -->

        <div id="post-list">
          <app-post-list [community]="community" [canPost]="userMembership != null"></app-post-list>
        </div>

      </div>

    </mat-tab>

    <mat-tab label="Projects">

      <!-- Display projects by importing the "ProjectThumbnailList component" -->

      <app-project-thumbnail-list [community]="community.hash"></app-project-thumbnail-list>

    </mat-tab>

    <mat-tab label="Brainstorming">

      <!-- Display brainstorming sessions by importing the "BrainstormingSessionList" component -->

      <app-brainstorming [community]="community"></app-brainstorming>
    </mat-tab>

    <mat-tab label="Documents">

      <!-- Display documents by importing the "DocumentList" component -->

      <app-document-list [community]="community"></app-document-list>
    </mat-tab>

    <!-- Display transactions by importing the "TransactionList" component
    <mat-tab label="Transactions">

    </mat-tab>
    -->

  </mat-tab-group>

</div>

<div class="load-spinner" *ngIf="!community">
  <mat-spinner></mat-spinner>
</div>
