@import "../../../assets/theme";

/*
 * Header
 */

header{
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: white;

  @include media-breakpoint-smaller {
    height: 130px;
  }

  @include media-breakpoint-small {
    height: 160px;
  }

  @include media-breakpoint-medium {
    height: 190px;
  }

  @include media-breakpoint-large {
    height: 220px;
  }

  @include media-breakpoint-larger {
    height: 250px;
  }
}

#community-name{
  position: absolute;
  left: 48px;
  z-index: 5;
}

.menu-trigger{
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 5;
}

.community-action-buttons {
  z-index: 5;
  position: absolute;
  right: 24px;
  color: black;
  display: flex;
  flex-direction: row;

  button {
    margin-left: 12px;
  }

  @include media-breakpoint-smaller {
    top: 90px;
  }

  @include media-breakpoint-small {
    top: 100px;
  }

  @include media-breakpoint-medium {
    top: 130px;
  }

  @include media-breakpoint-large {
    top: 160px;
  }

  @include media-breakpoint-larger {
    top: 190px;
  }
}

.user-background-image {
  width: 100%;
  height:100%;
  object-fit: cover;
}

.hidden-upload-form{
  display: none;
}

#community-background-image {
  width: 100%;
  height:100%;
  object-fit: cover;
  filter: brightness(0.5);
}

/*
 * General information
 */
.community-general{
  margin: 20px;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-larger {
    flex-direction: row-reverse;
  }
}

#community-description{
  padding: 24px;
  width: 100%;

  @include media-breakpoint-larger {
    width: 40%;
  }

}

#post-list{
  width: 100%;
  padding: 24px;

  @include media-breakpoint-larger {
    width: 60%;
  }

}

.member-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.candidacy-list {
  display: flex;
  flex-direction: column;
}

.candidacy-list, .invitation-list {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;

    button {
      margin: 0 6px;
    }
  }
}

#membership-menu-trigger span {
  display: flex;
  align-items: center;
}

.avatar-search-crop{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

.avatar-search-crop > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-search-crop:hover {
  cursor: pointer;
}

/*
 * Project display
 */

#project-list{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 24px;
   width: 100%;

   @include media-breakpoint-smaller {
     flex-direction: column;
     justify-content: center;
   }

   @include media-breakpoint-small {
     flex-direction: column;
     justify-content: center;
   }
}

app-project-thumbnail {
  margin: 24px;
  min-width: 275px;
  width: 80%;
  height: 420px;

  @include media-breakpoint-larger {
    width: 28%;
  }

  @include media-breakpoint-large {
    width: 28%;
  }

  @include media-breakpoint-medium {
    width: 40%;
  }
}

/*
 * Other stuff
 */

.profile-header-data {
  display: flex;
  flex-direction: row;
  align-items:center;
}

#profile_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-logo{
  height: 100px;
  width: 100px;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skills > button{
  margin: 5px;
}

mat-card{
  margin: 15px;
}

.nbRecommendation {
  margin-left: 10px;
  color: #E91E63;
  font-weight: bold;
}

#project-grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.edit-button{
  position: absolute;
  right: 20pt;
}

#profile-description{
  text-align: center;
}

.skill{
  margin: 5pt;
}

.skill-list{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: #7986CB;
}

.no-project{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-project span{
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 1.5em;
  font-weight: 100;
}

.list-icon{
  margin-right: 10px;
}

.menu-trigger{
  position: absolute;
  right: 25px;
}

.load-spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.load-spinner-tab{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.community-element{
  margin: 20px;
}

.no-padding{
  padding:0;
  margin:0;
}


.user-element{
  height: 75px;
}

.user-element > td {
  height: 75px;
}

.user-avatar-name {
  display: flex;
  flex-direction: row;
  align-items:center;
}

table{
  width: 100%;
}

mat-form-field {
  width: 100%;
}

app-document-list{
  margin: 24px;
}
