@import "../../../../assets/theme";

#project-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-smaller {
    flex-direction: column;
    justify-content: center;
  }

  @include media-breakpoint-small {
    flex-direction: column;
    justify-content: center;
  }
}

app-project-thumbnail {
  margin: 24px;
  min-width: 275px;
  width: 80%;
  height: 420px;

  @include media-breakpoint-larger {
    width: 28%;
  }

  @include media-breakpoint-large {
    width: 28%;
  }

  @include media-breakpoint-medium {
    width: 40%;
  }
}
