<div *ngIf="projectsFetched" id="project-list">
  <app-project-thumbnail *ngFor="let project of projects" [project]="project"></app-project-thumbnail>
</div>

<button mat-raised-button *ngIf="moreToLoad && projectsFetched">Load More</button>
