<div id="board-edit">

  <form #createBoardForm="ngForm" (submit)="updateBoard()">
    <mat-form-field>
      <input matInput
             name="name"
             placeholder="Name of the board"
             required
             id="board-name-input"
             [(ngModel)]="boardDto.name"/>
    </mat-form-field>

    <mat-form-field>
    <textarea matInput
              name="name"
              placeholder="Description of the board"
              required
              [(ngModel)]="boardDto.description"
              matAutosizeMinRows="2"></textarea>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!createBoardForm || boardSubmitted">Update Board</button>
  </form>

  <label *ngIf="board.labels.length > 0">Labels</label>
  <div id="label-list">
    <div *ngFor="let label of board.labels">
      <div *ngIf="label !== labelToUpdate; else updateLabel" class="label-div">
        <span class="label" [ngStyle]="{'background-color': label.color}">{{label.name}}</span>
        <button mat-icon-button (click)="triggerEditLabel(label)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="deleteLabel(label)"><mat-icon>delete</mat-icon></button>
      </div>
      <ng-template #updateLabel>
        <div class="label-div">
          <mat-form-field>
            <input matInput name="name" [(ngModel)]="labelDto.name" placeholder="Name"/>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Color" [(value)]="labelDto.color">
              <mat-option *ngFor="let color of availableLabelColors"
                          [value]="color.color"
                          [ngStyle]="{'background-color': color.color}">
                {{ color.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="editLabel()" [disabled]="labelSubmitted"><mat-icon>check</mat-icon></button>
          <button mat-icon-button (click)="triggerEditLabel(label)"><mat-icon>clear</mat-icon></button>
        </div>
      </ng-template>
    </div>
  </div>

  <div id="new-label-div">
    <label>New Label</label>
    <div class="label-div">
      <mat-form-field>
        <input matInput name="name" [(ngModel)]="newLabel.name" placeholder="Name"/>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Color" [(value)]="newLabel.color">
          <mat-option *ngFor="let color of availableLabelColors"
                      [value]="color.color"
                      [ngStyle]="{'background-color': color.color}">
            {{ color.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="createLabel()" [disabled]="labelSubmitted"><mat-icon>check</mat-icon></button>
    </div>
  </div>

  <button mat-button (click)="close()">Close</button>
</div>
