@import "../../../../assets/theme";

#board-edit {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 24px;

  @include media-breakpoint-smaller {
    width: 260px;
  }

  @include media-breakpoint-small {
    width: 400px;
  }
}

form, mat-form-field {
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
}

#label-list {
  display: flex;
  flex-direction: column;
}

.label {
  height: 24px;
  padding: 6px 18px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

.label-div{
  display: flex;
  flex-direction: row;
  align-items: center;

  > mat-form-field {
    padding: 6px;
  }
}

#board-name-input {
  font-size: 1.3em;
}
