

<button mat-button class="back-button" routerLink="">
  <mat-icon>keyboard_arrow_left</mat-icon>
  Retour à l'accueil
</button>

<mat-card class="center-card">
  <mat-card-title>Vous n'avez pas le droit d'accéder à cette ressource</mat-card-title>
  <mat-card-content>
    Cette ressource est protégée. Pour y accéder, veuillez vous connecter en veillant
    à avoir les bons droits d'utilisateur.
  </mat-card-content>
</mat-card>
