<div class="invitations"
     *ngIf="projectInvitationsFetched && projectInvitations.length == 0 && communityInvitationsFetched && communityInvitations.length == 0 && displayNoneMessage">

  <div *ngIf="projectInvitationsFetched && projectInvitations.length == 0
            && communityInvitationsFetched && communityInvitations.length == 0"
       id="no-invitation-messages">
    <h3>No current invitation</h3>
  </div>

  <h2 *ngIf="projectInvitationsFetched && projectInvitations.length >0">Project Invitations</h2>
  <app-invitation-thumbnail *ngFor="let invitation of projectInvitations"
                           [projectInvitation]="invitation"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onProjectInvitationRemoval)="manageProjectInvitation($event)"></app-invitation-thumbnail>

  <h2 *ngIf="communityInvitationsFetched && communityInvitations.length >0">Community Invitations</h2>
  <app-invitation-thumbnail *ngFor="let invitation of communityInvitations"
                           [communityInvitation]="invitation"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onCommunityInvitationRemoval)="manageCommunityInvitation($event)"></app-invitation-thumbnail>
</div>
