// SCSS for Project Thumbnail
// Project thumbnail are larger on largest screens, making the illustration stand out.

@import "../../../../assets/theme";

mat-card{
  padding: 0;
  overflow: hidden;
  max-width: 420px;
  height: 100%;
}

mat-card-content{
  height: 40%;
  padding: 6px 24px 12px 24px;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnail-illustration {
  height: 60%;

  div {
    font-size: 2em;
    font-weight: bold;
    padding: 24px;
  }
}

.thumbnail-illustration > div {
  background-color: #00897B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.thumbnail-illustration > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
