<!--component html goes here -->

<mat-card>

  <div class="thumbnail-illustration">
    <img src="{{project.logoUrl}}" *ngIf="project.logoUrl">
    <div *ngIf="!project.logoUrl"> {{project.name}} </div>
  </div>

  <mat-card-content>

    <div>
      <h4><a [routerLink]="['/projects', project.hash]">{{project.name}}</a></h4>
      <div>{{project.shortDescription}}</div>
    </div>

    <div class="thumbnail-footer">
      <span [ngPlural]="project.nbMembers">
        <ng-template ngPluralCase="=1">1 member</ng-template>
        <ng-template ngPluralCase="other">{{project.nbMembers}} members</ng-template>
      </span>
      <span [ngPlural]="project.nbJobsOpen">
        <ng-template ngPluralCase="=0">No remaining job</ng-template>
        <ng-template ngPluralCase="=1">1 job to fill</ng-template>
        <ng-template ngPluralCase="other">{{project.nbJobsOpen}} jobs to fill</ng-template>
      </span>
    </div>

  </mat-card-content>

</mat-card>
