<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <img src="../../../assets/images/treviz-logo.png" id="logo">

    <mat-card *ngIf="!registrationSuccessFull" class="authentication-card">
      <h3>Register</h3>
      <form class="credentials-inputs" (submit)="onRegister()" #registerForm="ngForm">
          <div class="credentials-row">
            <mat-form-field>
              <input matInput required type="text" placeholder="First name" name="firstName" [(ngModel)]="model.firstName">
            </mat-form-field>

            <mat-form-field>
              <input matInput required type="text" placeholder="Last name" name="lastName" [(ngModel)]="model.lastName">
            </mat-form-field>
          </div>
        <mat-form-field>
          <input matInput required type="text" placeholder="Username" name="username" [(ngModel)]="model.username">
        </mat-form-field>
        <mat-form-field>
          <input matInput required type="email" placeholder="E-mail"  name="email" [(ngModel)]="model.email">
        </mat-form-field>
        <mat-form-field>
          <input matInput required type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
        </mat-form-field>
        <button mat-raised-button
                class="log-button"
                type="submit"
                [disabled]="isSubmitted">Create account</button>
        <span class="error" *ngIf="displayError">{{errorMessage}}</span>
      </form>
    </mat-card>

    <mat-card class="link-card" *ngIf="!registrationSuccessFull">
      <span>
        Already registered ? <a routerLink="/login" class="link">Sign in</a>
      </span>
    </mat-card>

    <mat-card *ngIf="registrationSuccessFull">
      <h3>Account successfully created !</h3>
      <span>Go to your mailbox to activate your account.</span>
    </mat-card>

  </div>

  <div>
    <markdown path="../../assets/home.md"></markdown>
  </div>

</div>
