<div class="info-dialog">

<!--
  <img src="../../assets/images/logo.svg" id="logo">

  <h3>MatchMyProject</h3>

  <div>
    MatchMyProject est une application lancée en 2017 par Bastien Huber et Juliette Maës.
    <br/>
    Son objectif est de permettre à des organisations (entreprise, école, association...) de facilement gérer leurs
    compétences et initiatives internes, afin de faire émerger de nouveau projets et de former des équipes
    pluridisciplinaires pour les mener à bien.
    <br/>
    N'hésitez-pas à <a href="mailto:matchmyproject@gmail.com">nous faire part</a> de toute demande ou bug !
    <br/>
    A venir :
  </div>

  <ul>
    <li>Demandes de compétences pour des taches précises liées à des projets</li>
    <li>Une plus grande variété de notifications en temps réel et sur la page d'accueil</li>
    <li>Un module d'administration plus poussé pour les communautés et les projets</li>
  </ul>
  <br>
  <b>Bêta v.0.3</b>
  <br/>
  <a href="https://www.Vecteezy.com/">Illustration credit: www.Vecteezy.com</a>
-->

  <markdown path="../../../assets/info.md"></markdown>

</div>


