<!--component html goes here -->

<div class="comment">
  <div class="avatar-crop">
    <img src="../../../../assets/images/profile.svg" *ngIf="!comment.author.avatarUrl">
    <img src="{{comment.author.avatarUrl}}" *ngIf="comment.author.avatarUrl">
  </div>

  <div>
      <div class="comment-content">
        <a [routerLink]="['/users', comment.author.username]">{{comment.author.firstName}} {{comment.author.lastName}}</a>
        <markdown [data]="comment.message"></markdown>
      </div>
      <div class="comment-date">{{comment.publicationDate | dateInterval }}</div>
  </div>
</div>
