.comment{
  margin: 6px 24px 10px 24px;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.comment-content {
  margin-bottom: -10px;
}

.comment-date{
  color: gray;
}

a{
  font-size: 1em;
  font-weight: bold;
}

.avatar-crop{
  width: 35px !important;
  height: 35px !important;;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 24px;
  flex-shrink: 0;
}

.avatar-crop > img {
  width: 100% !important;;
  height: 100% !important;;
  object-fit: cover;
}
