<form #createBoardForm="ngForm" (submit)="onSubmit()">

  <h2>Create a new board</h2>

  <mat-form-field>
    <input matInput
           name="name"
           placeholder="Name of the board"
           required
           [(ngModel)]="boardDto.name"/>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput
              name="name"
              placeholder="Description of the board"
              required
              [(ngModel)]="boardDto.description"
              matAutosizeMinRows="2"></textarea>
  </mat-form-field>

  <button mat-button [disabled]="!createBoardForm.valid || boardSubmitted">Create Board</button>
</form>
