@import "../../../../assets/theme";

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 24px;

  @include media-breakpoint-smaller {
    width: 260px;
  }

  @include media-breakpoint-small {
    width: 400px;
  }
}
