<!--component html goes here -->
<h3>Account Management</h3>

<div class="actions">
    <section>
        <p>
            Treviz only keeps track of the information required to power the platform: your projects, tasks, messages, etc. We do not
            store any metadata regarding your location, devices, nor do we try to analyse your behaviour. If you wish to receive a mail
            containing an archive of your personal data, simply click the button bellow; we'll sent it to you asap.
        </p>
        <button mat-raised-button>Send me an archive containing my personal data</button>
    </section>
    <section>
        <p>
            If Treviz does not comply with your needs or hopes, you can delete your account. This action is irreversible. We will delete
            all your personal information, including you messages, taks, feedback, or any kind of participations. Feel free to send
            us a mail telling us why you left the platform :)
        </p>
        <button mat-raised-button color="accent">Delete my account</button>
    </section>
</div>