<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

    <img src="../../../assets/images/treviz-logo.png" id="logo">

    <span *ngIf="errorMessage" class="error">{{errorMessage}}</span>

    <mat-card class="authentication-card">
      <h3>Sign In</h3>
      <form class="credentials-inputs" (submit)="onLogin()" #loginForm="ngForm">
        <mat-form-field>
          <span matPrefix>
            <mat-icon>perm_identity</mat-icon>
            &nbsp;
          </span>
          <input matInput type="text" required placeholder="Username or email" name="username" [(ngModel)]="credentials.username">
        </mat-form-field>
        <mat-form-field>
          <span matPrefix>
            <mat-icon>lock_outline</mat-icon>
            &nbsp;
          </span>
          <input matInput type="password" required placeholder="Password" name="password" [(ngModel)]="credentials.password">
          <mat-hint align="end"><a routerLink="/password-recover">Forgot your password ?</a></mat-hint>
        </mat-form-field>

        <button mat-raised-button
                type="submit"
                class="log-button"
                [disabled]="isSubmitted">Sign in !</button>
      </form>
    </mat-card>

    <mat-card class="link-card">
      <span>
        No account yet ? <a routerLink="/register" class="link">Register</a>
      </span>
    </mat-card>

  </div>

  <div>
    <markdown path="../../assets/home.md"></markdown>
  </div>

</div>
