<mat-form-field>
  <input matInput placeholder="Role name" [(ngModel)]="role.name" [disabled]="role.global">
</mat-form-field>

<section>
  <mat-checkbox [(ngModel)]="role.defaultMember" [disabled]="role.global">
    <span class="permission-description">Default role for any new member of the project ?</span>
  </mat-checkbox>

</section>

<mat-divider></mat-divider>

<section>

    Specify the rights of the various roles you can give to the members of this project.

  <div>
    <h3>
      Project
    </h3>

    <mat-checkbox [(ngModel)]="permissions.UPDATE_PROJECT" [disabled]="role.global">
      <span class="permission-description">Can update the project (skills, tags, description, logo...)</span>
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="permissions.DELETE_PROJECT" [disabled]="role.global">
      <span class="permission-description">Can delete the project (this action cannot be undone)</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Memberships</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_MEMBERSHIP" [disabled]="role.global">
      <span class="permission-description">Can update the roles of the members, remove them from the project.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Roles</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_ROLE" [disabled]="role.global">
      <span class="permission-description">Can create new roles, update those already existing, and remove the unnecessary ones.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Candidacies</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_CANDIDACIES" [disabled]="role.global">
      <span class="permission-description">Can see users who candidates to the project, accept or deny them.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Invitations</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_INVITATIONS" [disabled]="role.global">
      <span class="permission-description">Can invite users to take part in this project, or remove existing invitations</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Posts</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_POST" [disabled]="role.global">
      <span class="permission-description">Can moderate, delete the posts of this project.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Documents</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_DOCUMENT" [disabled]="role.global">
      <span class="permission-description">Can moderate, delete the documents of this project.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Kanban</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_KANBAN" [disabled]="role.global">
      <span class="permission-description">Can create new boards for the project, specify columns, labels. Any user can see and create tasks.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Jobs</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_JOBS" [disabled]="role.global">
      <span class="permission-description">Can create new jobs, update existing ones, specify which tasks are to be realised...</span>
    </mat-checkbox>
  </div>

<!--  <div>
    <h3>Crowd funding</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_CROWD_FUND" [disabled]="role.global">
      <span class="permission-description">Can launch a crowd funding for this project, using the specific token of the organization.</span>
    </mat-checkbox>
  </div>-->

  <button mat-raised-button (click)="onSubmit()" [disabled]="role.global || submitted"><mat-icon>check</mat-icon> Save changes</button>

</section>
