<h3>Notifications</h3>

<p>
    Here, you can select the type of events for which Treviz will send you notifications. If you want
    to personalize the way Treviz keeps you informed of any activity regarding your projects and communities,
    directly navigate to their pages, and select "Notification Preferences" from their menu.
</p>

<div>

    <h4>Candidacies and invitations</h4>

    <mat-list>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="userPreferences.onInvitation" [disabled]="loading">
                <span class="permission-description">Someone invites me to a project or community</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="userPreferences.onCandidacyChange" [disabled]="loading">
                <span class="permission-description">One of my candidacies is accepted or rejected.</span>
            </mat-checkbox>
        </mat-list-item>
    </mat-list>

    <h4>Chat</h4>

    <mat-list>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="userPreferences.onDirectMessage" [disabled]="loading">
                <span class="permission-description">A new direct message is sent to me</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
            <mat-checkbox [(ngModel)]="userPreferences.onChatRoomMessage" [disabled]="loading">
                <span class="permission-description">A new message is posted in a chat room I am part of</span>
            </mat-checkbox>
        </mat-list-item>
    </mat-list>

    <button mat-raised-button color="primary" (click)="updateUserPreferences()" [disabled]="loading">Update my preferences</button>

</div>