<div class="community-candidacies">
    <app-candidacy-thumbnail *ngFor="let candidacy of candidacies"
    [communityCandidacy]="candidacy"
    [canApprove]="canApprove"
    (onCommunityCandidacyRemoval)="handleCandidacyRemoved($event)"
    (onCommunityCandidacyAccepted)="handleCandidacyAccepted($event)"></app-candidacy-thumbnail>
</div>

