<form #sessionForm="ngForm" (submit)="onSubmit()">
  <h3>Create a new brainstorming session</h3>

  <mat-form-field>
    <input matInput placeholder="Name of the session" required [(ngModel)]="sessionDto.name" name="name"/>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description of the session" required [(ngModel)]="sessionDto.description" name="name"></textarea>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="!sessionForm.valid && !submitted">Create session</button>
</form>
