@import "../../../assets/theme";

.community-list-content{
  margin: 24px;
}

section {
  max-width: 1400px;
  margin: 20px auto 20px auto;
}

.section-head{
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin-left: 24px;
  }
}

.search-load-more{
  width: 50px;
  margin: auto;
}

app-community-thumbnail {
  width: 250px;
  height: 175px;
  margin: 12px;
}

app-community-thumbnail:hover{
  cursor: pointer;
}

.search-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-smaller {
    flex-direction: column;
    justify-content: center;
  }

  @include media-breakpoint-small {
    flex-direction: column;
    justify-content: center;
  }
}

.load-more-button {
  width: 100%;
  margin: 10px auto;
}

#no-community {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
