<mat-progress-bar mode="indeterminate" *ngIf="!(communitiesFetched && personalCommunitiesFetched)"></mat-progress-bar>

<div class="community-list-content">

  <!-- Display the communities the user takes part in -->

  <section *ngIf="personalCommunitiesFetched && personalCommunities.length > 0">
    <div class="section-head">
      <h2>My communities</h2>
      <button mat-fab routerLink="/communities/create"><mat-icon>add</mat-icon></button>
    </div>

    <div class="search-results">
      <app-community-thumbnail
        *ngFor="let community of personalCommunities"
        (click)="goToCommunity(community)"
        [community]="community"></app-community-thumbnail>
    </div>
  </section>

  <section *ngIf="personalCommunitiesFetched && personalCommunities.length === 0 && communitiesFetched && communities.length > 0" class="section-head">
    <h2>You are not part of any community.</h2>
    <button mat-icon-button routerLink="/communities/create"><mat-icon>add</mat-icon></button>
  </section>

  <!-- OTHER COMMUNITIES TO DISPLAY -->

  <section *ngIf="communitiesFetched && communities.length > 0">
    <div class="section-head">
      <h2>Available communities</h2>
    </div>
    <div class="search-results">
      <app-community-thumbnail
        *ngFor="let community of communities"
        (click)="goToCommunity(community)"
        [community]="community"></app-community-thumbnail>
    </div>
  </section>

  <div *ngIf="communitiesFetched && communities.length === 0" id="no-community">
    <h2>No community was found.</h2>
    <button mat-button routerLink="/communities/create"><mat-icon>add</mat-icon> Create one</button>
  </div>

  <button mat-button (click)="loadMore()" class="load-more-button" *ngIf="communitiesFetched && moreToLoad">Load more</button>

</div>
