.avatar-crop{
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    > img {
        width: 100% !important;;
        height: 100% !important;;
        object-fit: cover;
    }

    &:hover {
        cursor: pointer;
    }
}