<div class="avatar-crop" [routerLink]="['/users', user.username]">
    <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
    <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
</div>