.post{
  padding:0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.post-header{
  padding: 24px 24px 12px 24px;
  display: flex;
  align-items: center;
}

.post-profile{
  display: flex;
  flex-direction: column;
}

.post-content{
  padding-left: 24px;
  padding-right: 24px;
}

.post-author{
  font-weight: bold;
}

.post-date{
  color: gray;
}

.post-comments {
  background-color: #CFD2D4;
}

.post-comments {
  padding-top: 12px;
}

.avatar-crop{
  width: 50px !important;
  height: 50px !important;;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 24px;
  flex-shrink: 0;
}

.avatar-crop > img {
  width: 100% !important;;
  height: 100% !important;;
  object-fit: cover;
}

mat-form-field {
  width: 100%;
  padding: 0 24px 10px 24px;
}
