<mat-card class="post">

  <div class="post-header">
    <div class="avatar-crop">
      <img src="../../../../assets/images/profile.svg" *ngIf="!post.author.avatarUrl">
      <img src="{{post.author.avatarUrl}}" *ngIf="post.author.avatarUrl">
    </div>
    <div class="post-profile">
      <span>
        <a class="post-author" [routerLink]="['/users', post.author.username]">
          {{post.author.firstName}} {{post.author.lastName}}
        </a>
        <span *ngIf="showOrigin && post.project"> in project <a [routerLink]="['/projects', post.project.hash]">{{post.project.name}}</a></span>
        <span *ngIf="showOrigin && post.community"> in community <a [routerLink]="['/communities', post.community.hash]">{{post.community.name}}</a></span>
        <span *ngIf="showOrigin && post.job"> for job <a [routerLink]="['/jobs', post.job.hash]">{{post.job.name}}</a></span>
        <span *ngIf="showOrigin && post.task"> for task: {{post.task.name}}</span>
      </span>
      <div class="post-date">{{post.publicationDate | dateInterval}}</div>
    </div>
  </div>

  <markdown [data]="post.message" class="post-content"></markdown>

  <div class="post-comments">
    <app-comment *ngFor="let comment of post.comments" [comment]="comment"></app-comment>

    <mat-form-field>
        <textarea matInput placeholder="Add a comment"
                  matTextareaAutosize
                  matAutosizeMinRows="1"
                  [(ngModel)]="comment.message"
                  (keydown.enter)="submitComment()"
                  [disabled]="submitted"></textarea>
    </mat-form-field>
  </div>

</mat-card>
