@import "../../../../assets/theme";

.idea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.idea-actions{
  display: flex;
  align-items: center;
}

.idea-action{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40px;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.spacer{
  flex: 1 1 auto;
}

.idea-liked{
  display: inline-flex;
  align-items: center;
}

.avatar-crop {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

  > img {
    width: 100% !important;;
    height: 100% !important;;
    object-fit: cover;
  }
}

.idea-liked{
  display: inline-flex;
  align-items: center;
}
