<mat-card class="idea">
  <mat-card-content>
    <markdown>
      {{idea.content}}
    </markdown>
  </mat-card-content>
  <mat-card-actions class="idea-actions">
    <div class="idea-action">
      <button mat-icon-button (click)="selectIdea()">
        <mat-icon>details</mat-icon>
      </button>
    </div>

    <button mat-icon-button (click)="triggerLike()">
      <mat-icon *ngIf="currentUserLike()">favorite</mat-icon>
      <mat-icon *ngIf="!currentUserLike()">favorite_border</mat-icon>
    </button>
    <div class="spacer">
    </div>
    <div class="idea-liked">
      <div *ngFor="let user of idea.liked.slice(0, 2)"
           class="avatar-crop"
           routerLink="/users/{{user.username}}"
           matTooltip="{{user.username}} a aimé cette idée">
          <img src="../../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
          <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
      </div>
    </div>
  </mat-card-actions>
</mat-card>
