<mat-card class="candidacy">

  <mat-card-header>
      <app-user-avatar-circle mat-card-avatar 
        *ngIf="communityCandidacy && !communityCandidacy.community"
        [user]="communityCandidacy.user"></app-user-avatar-circle>
      
        <app-user-avatar-circle mat-card-avatar 
        *ngIf="projectCandidacy && !projectCandidacy.project"
        [user]="projectCandidacy.user"></app-user-avatar-circle>

      <mat-card-title>
          <span *ngIf="projectCandidacy && projectCandidacy.project">
            <a [routerLink]="['/projects', projectCandidacy.project.hash]">{{projectCandidacy.project.name}}</a>
            <span *ngIf="projectCandidacy.job"> | <a [routerLink]="['/jobs', projectCandidacy.job.hash]">{{projectCandidacy.job.name}}</a></span>
          </span>
          <span *ngIf="communityCandidacy && communityCandidacy.community">
            <a [routerLink]="['/communities', communityCandidacy.community.hash]">{{communityCandidacy.community.name}}</a>
          </span>
          <span *ngIf="projectCandidacy && !projectCandidacy.project">
            {{projectCandidacy.user.firstName}} {{projectCandidacy.user.lastName}}
          </span>
          <span *ngIf="communityCandidacy && !communityCandidacy.community">
            {{communityCandidacy.user.firstName}} {{communityCandidacy.user.lastName}}
          </span>
        </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <markdown [data]="projectCandidacy.message" *ngIf="projectCandidacy"></markdown>
    <markdown [data]="communityCandidacy.message" *ngIf="communityCandidacy"></markdown>
  </mat-card-content>

  <mat-card-actions>
    <div *ngIf="canApprove">
      <button mat-button (click)="removeCandidacy()">
        <mat-icon>clear</mat-icon>
        Discard
      </button>
      <button mat-button (click)="acceptCandidacy()">
        <mat-icon>check</mat-icon>
        Accept
      </button>
    </div>
    <div *ngIf="canDiscard && !canApprove">
      <button mat-button (click)="removeCandidacy()">
        <mat-icon>clear</mat-icon>
        Remove
      </button>
    </div>
  </mat-card-actions>

</mat-card>
