@import "../../../assets/theme";

#auth-page {
  /*
  width: 100vw;
  */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include media-breakpoint-smaller {
    flex-direction: column;
    align-items: center;
  }

  @include media-breakpoint-small {
    flex-direction: column;
    align-items: center;
  }

  > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;

    @include media-breakpoint-smaller {
      width: 100%;
    }

    @include media-breakpoint-small {
      width: 100%;
    }
  }
}


#select-sign-in-up {
  display: flex;
  flex-direction: row;
  width: 320px;
  justify-content: space-evenly;

  > .link {
    color: #BDBDBD;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.authentication-div{
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo{
  width: 150px;
}

.authentication-card{
  transition: all .4s;
  margin-top: 42px;
  width: 320px;

  @include media-breakpoint-smaller {
    width: 280px;
  }

  @include media-breakpoint-small {
    width: 300px;
  }
}

.credentials-inputs{
  display: flex;
  flex-direction: column;

  > mat-form-field, mat-checkbox {
    margin: 12px;
  }

  .credentials-row {
    display: flex;
    flex-direction: row;
    margin: 0 12px;
    justify-content: space-between;

    mat-form-field {
      width: 48%;
    }
  }
}

.link-card {
  width: 320px;
  margin-top: 12px;
  transition: all .4s;

  @include media-breakpoint-smaller {
    width: 280px;
  }

  @include media-breakpoint-small {
    width: 300px;
  }
}

.toggleSign{
  margin-top: 15pt;
  float: right;
  text-decoration: none;
}

.error{
  margin-top: 10px;
  color: #E91E63;
  font-weight: bold;
}

markdown {
  width: 80%;
}

h1 {
  font-family: "Quicksand", "Roboto Light", "Lato Light", "Lucida Sans", Arial, SansSerif, sans-serif;
}

.log-button {
  color: white;
  background: #388E3C;
  transition: all .4s;

  &:hover{
    background: #2E7D32;
    transition: all .4s;
  }
}

.back-button {
  position: absolute;
  top: 24px;
  left: 24px;
  color: black;
}
