<div class="candidacies"
     *ngIf="projectCandidaciesFetched && communityCandidaciesFetched">

  <div *ngIf="projectCandidacies.length == 0
            && communityCandidacies.length == 0
            && displayNoneMessage"
       id="no-candidacy-messages">
    <h3>No current candidacy</h3>
  </div>

  <h2 *ngIf="projectCandidacies.length >0">Project Candidacies</h2>
  <app-candidacy-thumbnail *ngFor="let candidacy of projectCandidacies"
                           [projectCandidacy]="candidacy"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onProjectCandidacyAccepted)="manageProjectCandidacy($event)"
                           (onProjectCandidacyRemoval)="manageProjectCandidacy($event)"></app-candidacy-thumbnail>

  <h2 *ngIf="communityCandidacies.length >0">Community Candidacies</h2>
  <app-candidacy-thumbnail *ngFor="let candidacy of communityCandidacies"
                           [communityCandidacy]="candidacy"
                           [canApprove]="canApprove"
                           [canDiscard]="canDiscard"
                           (onCommunityCandidacyAccepted)="manageProjectCandidacy($event)"
                           (onCommunityCandidacyRemoval)="manageCommunityCandidacy($event)"></app-candidacy-thumbnail>
</div>