<div id="boards-search-dialog">
    <mat-form-field id="search-input">
        <input matInput name="username" [formControl]="searchCtrl" placeholder="Search a project, a user..."/>
    </mat-form-field>

    <section id="result">

        <h2 *ngIf="filteredUsers.length == 0 && filteredProjects.length == 0 && usersFetched && projectsFetched" id="no-result">
            No project or user was found.
        </h2>

        <div *ngIf="filteredUsers.length > 0">
            <h2>Users</h2>
            <div>
                <div *ngFor="let user of filteredUsers" class="search-result-thumbnail" (click)="select(user)">
                    <div class="search-image-name">
                        <div class="image-crop">
                                <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
                                <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
                                </div>
                                {{user.firstName}} {{user.lastName}}
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="filteredProjects.length > 0">
            <h2>Projects</h2>
            <div>
                <div *ngFor="let project of filteredProjects" class="search-result-thumbnail" (click)="select(project)">
                    <div class="search-image-name">
                        <div class="image-crop">
                                <img src="{{project.logoUrl}}" *ngIf="project.logoUrl">
                        </div>
                        {{project.name}}
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>