#boards-search-dialog{
    min-width: 70vw;
    max-height: 90vh;

    #search-input {
        width: 100%;
        margin: auto;
        
        input {
            font-size: 3em;
            margin-top: 24px;
        }
    }

    #no-result {
        text-align: center;
    }

    .search-result-thumbnail {
        display: flex;
        flex-direction: row;
        align-items:center;
        border-radius: 6px;
        border: 1px solid #e6e6e6;
        padding-top: 12px;

        &:hover {
            cursor: pointer;
            transform: scale(1.01);
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
            transition:all .1s ease-in-out;
        }
        
        > div {
          padding: 24px;
        }

        .search-image-name {
            display: flex;
            flex-direction: row;
            align-items:center;

            .image-crop{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 20px;
              
                > img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
            }
        }

    }

    .project-logo-name {
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
        object-fit: cover;
    }
}