<div id="job-manage-dialog">

  <h2>Manage Job</h2>

  <div id="job-input">

    <div id="general-job-info">

      <mat-form-field>
        <input matInput name="name" placeholder="Job name" id="job-name-input" [(ngModel)]="jobDto.name"/>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput name="name" placeholder="Description" [(ngModel)]="jobDto.description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="name" placeholder="Monthly Reward" type="number" [(ngModel)]="jobDto.monthlyReward"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Specify the skills required to this job"
               #skillInput
               disabled="{{submitted}}"
               [matAutocomplete]="autoSkill"
               [formControl]="skillCtrl"
               (keyup.enter)="addSkill(skillInput.value); skillInput.value = '' ">
      </mat-form-field>
      <mat-autocomplete #autoSkill="matAutocomplete">
        <mat-option *ngFor="let skill of filteredSkills | async"
                    [value]="skill.name"
                    (click)="addSkill(skill.name); skillInput.value = ''">
          {{ skill.name }}
        </mat-option>
      </mat-autocomplete>

      <div class="store">
        <div *ngFor="let skill of jobDto.skills">
          <button mat-icon-button (click)="removeSkill(skill)"><mat-icon>clear</mat-icon></button>
          <app-tag>
            {{skill}}
          </app-tag>
        </div>
      </div>

      <mat-form-field>
        <input matInput placeholder="Specify the domains this job is linked to."
               #tagInput
               disabled="{{submitted}}"
               [matAutocomplete]="autoTag"
               [formControl]="tagCtrl"
               (keyup.enter)="addTag(tagInput.value); tagInput.value = ''">
      </mat-form-field>
      <mat-autocomplete #autoTag="matAutocomplete">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name" (click)="addTag(tag.name); tagInput.value = ''">
          {{ tag.name }}
        </mat-option>
      </mat-autocomplete>

      <div class="store">
        <div *ngFor="let tag of jobDto.tags">
          <button mat-icon-button (click)="removeTag(tag)"><mat-icon>clear</mat-icon></button>
          <app-tag>
            {{tag}}
          </app-tag>
        </div>
      </div>

    </div>

    <div id="job-relations">

      <!-- Select task contact -->
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Contact"
                 [matAutocomplete]="contactAutocomplete"
                 [formControl]="contactCtrl"
                 #name
                 (keyup.enter)="setContact(name.value); name.value = ''">
        </mat-form-field>
        <mat-autocomplete #contactAutocomplete="matAutocomplete">
          <mat-option *ngFor="let user of filteredContact"
                      [value]="user.username"
                      (click)="setContact(user.username)">
            <div class="user-option">
              <div class="image-cropper">
                <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
                <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
              </div>
              <span>{{user.username}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
        <div class="user-option" *ngIf="contact">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" *ngIf="!contact.avatarUrl">
            <img src="{{contact.avatarUrl}}" *ngIf="contact.avatarUrl">
          </div>
          <span>{{contact.username}}</span>
          <button mat-icon-button (click)="removeContact()"><mat-icon>clear</mat-icon></button>
        </div>
      </div>

      <!-- Select task holder -->
      <div>
        <mat-form-field>
          <input matInput
                 placeholder="Holder"
                 [matAutocomplete]="holderAutocomplete"
                 [formControl]="holderCtrl"
                 #name
                 (keyup.enter)="setHolder(name.value); name.value = ''">
        </mat-form-field>
        <mat-autocomplete #holderAutocomplete="matAutocomplete">
          <mat-option *ngFor="let user of filteredHolder"
                      [value]="user.username"
                      (click)="setHolder(user.username)">
            <div class="user-option">
              <div class="image-cropper">
                <img src="../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
                <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
              </div>
              <span>{{user.username}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
        <div class="user-option" *ngIf="holder">
          <div class="image-cropper">
            <img src="../../../assets/images/profile.svg" *ngIf="!holder.avatarUrl">
            <img src="{{holder.avatarUrl}}" *ngIf="holder.avatarUrl">
          </div>
          <span>{{holder.username}}</span>
          <button mat-icon-button (click)="removeHolder()"><mat-icon>clear</mat-icon></button>
        </div>
      </div>

      <div *ngIf="candidacies">
        <h3 *ngIf="candidacies.length > 0">Candidates</h3>
        <div class="candidacies">
          <div *ngFor="let candidacy of candidacies"
               class="user-candidacy">

            <div class="user-avatar-name">
              <div class="image-cropper">
                <img src="../../../assets/images/profile.svg" *ngIf="!candidacy.user.avatarUrl">
                <img src="{{candidacy.user.avatarUrl}}" *ngIf="candidacy.user.avatarUrl">
              </div>
              {{candidacy.user.firstName}} {{candidacy.user.lastName}}
            </div>

            <div class="spacer">
              {{candidacy.message}}
            </div>

            <div>
              <div>
                <button mat-icon-button (click)="acceptCandidacy(invitation)"><mat-icon>Accept Candidacy</mat-icon></button>
                <button mat-icon-button (click)="removeCandidacy(invitation)"><mat-icon>Remove Candidacy</mat-icon></button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  <button mat-button (click)="onSubmit()" [disabled]="submitted">Update Job</button>

</div>
