<div>

    <!-- Create new enhancement -->

    <mat-card id="enhancement-input">
      <form #enhancementForm="ngForm" (submit)="onSubmit()">
        <mat-form-field>
          <textarea matInput name="enhancement" [(ngModel)]="enhancementDto.message" placeholder="Enhance this idea">
          </textarea>
        </mat-form-field>
        <button type="submit" mat-button [disabled]="!enhancementForm.valid || enhancementSubmitted">Send</button>
      </form>
    </mat-card>

    <!-- List all enhancements -->
    <div *ngIf="enhancementsFetched">
      <app-brainstorming-enhancement-card *ngFor="let enhancement of enhancements"
                                          [enhancement]="enhancement"></app-brainstorming-enhancement-card>
    </div>
</div>
