.tag {
  padding: 6px;
  margin: 5px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 13px;
  box-shadow: -1px 1.5px 2px 2px #e0e0e0;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  background-color: white;
}
