<div class="community-candidacies">
    <app-candidacy-thumbnail *ngFor="let candidacy of candidacies"
    [projectCandidacy]="candidacy"
    [canApprove]="canApprove"
    (onProjectCandidacyRemoval)="handleCandidacyRemoved($event)"
    (onProjectCandidacyAccepted)="handleCandidacyAccepted($event)"></app-candidacy-thumbnail>
</div>

