#create-document {
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 24px;
  right: 24px;
}

#document-list-container {
  display: flex;
  flex-direction: column;
  margin: 56px 24px 24px;
}
