<div id="document-list-container">

  <span *ngIf="!documents.length && !loading">
    No document was found.
  </span>

  <app-document-panel *ngFor="let document of documents" [document]="document"></app-document-panel>

  <button mat-raised-button (click)="openDocumentUploadDialog()" id="create-document">Add a document</button>

</div>
