<div *ngIf="!auth.loggedIn()" id="auth-page">

  <div class="registration-page">

      <button mat-raised-button class="back-button" (click)="goToLogin()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Back to login
      </button>

      <img src="../../../assets/images/treviz-logo.png" id="logo">

      <span *ngIf="errorMessage" class="error">{{errorMessage}}</span>

      <mat-card *ngIf="!emailSent" class="authentication-card">
        <h3>Forgotten password</h3>

        <form class="credentials-inputs" (submit)="sendResetRequest()" #resetForm="ngForm">
          <mat-form-field>
            <input matInput required type="email" placeholder="email" name="email" [(ngModel)]="email">
          </mat-form-field>

          <button mat-raised-button
                  type="submit"
                  class="log-button">Send</button>
        </form>

        <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>

      </mat-card>

      <mat-card *ngIf="emailSent" class="authentication-card">
        <h3>Email sent !</h3>
      </mat-card>
  </div>

  <div>
    <markdown path="../../assets/home.md"></markdown>
  </div>

</div>
