@import "../../../../assets/theme";

#idea-detail{
  display: flex;
  flex-direction: column;

  @include media-breakpoint-larger {
    flex-direction: row-reverse;
  }
}

#back-button{
  position: absolute;
  left: 24px;
  top: 24px;
}

#idea-author{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;

  h4 {
    margin-left: 24px;
  }
}

.avatar-crop {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

  > img {
    width: 100% !important;;
    height: 100% !important;;
    object-fit: cover;
  }
}

#idea-meta{
  padding: 24px;
  min-width: 300px;
  width: 100%;

  @include media-breakpoint-larger {
    margin-top: -24px;
    width: 40%;
  }
}

.idea-meta-header{
  display: flex;
  flex-direction: row;
  @include media-breakpoint-larger {
    justify-content: space-around;
  }
}

#forked-project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-smaller {
    flex-direction: column;
    justify-content: center;
  }

  @include media-breakpoint-small {
    flex-direction: column;
    justify-content: center;
  }
}

app-project-thumbnail{
  margin: 24px;
  min-width: 275px;
  width: 80%;
  height: 420px;

  @include media-breakpoint-larger {
    margin: 6px;
    width: 28%;
  }

  @include media-breakpoint-large {
    width: 28%;
  }

  @include media-breakpoint-medium {
    width: 40%;
  }
}

#idea-enhancements {
  width: 100%;
  padding: 24px;

  @include media-breakpoint-larger {
    width: 100%;
    padding-top: 48px;
  }
}
