<section id="idea-detail">

  <button mat-button (click)="goBackToSession()" id="back-button"><mat-icon>chevron_left</mat-icon>Go back to session</button>

  <!-- Left column on large displays, bottom row in smaller: Idea content, projects forked, people who liked it.-->

  <div id="idea-meta">
    <div>
      <h2>Author</h2>
      <div id="idea-author">
        <div class="avatar-crop">
          <img src="../../../../assets/images/profile.svg" class="message-avatar" *ngIf="!idea.author.avatarUrl">
          <img src="{{idea.author.avatarUrl}}" class="message-avatar" *ngIf="idea.author.avatarUrl">
        </div>
        <h4><a [routerLink]="['/users', [[idea.author.username]]]">{{idea.author.firstName}} {{idea.author.lastName}}</a></h4>
      </div>

    </div>

    <div *ngIf="idea.documents.length > 0; else noDocuments">
      <div class="idea-meta-header">
        <h4>Documents</h4>
        <button mat-button (click)="openDocumentUploadDialog()">Add a document</button>
      </div>
      <app-document-panel *ngFor="let document of idea.documents" [document]="document"></app-document-panel>
    </div>
    <ng-template #noDocuments>
      <h4>No Documents</h4>
      <button mat-button (click)="openDocumentUploadDialog()">Add a document</button>
    </ng-template>

    <div *ngIf="idea.forked.length > 0; else noForkedProject">
      <div class="idea-meta-header">
        <h4>Forked projects</h4>
        <button mat-button [routerLink]="['/projects/create']" [queryParams]="{idea: idea.hash}">Launch a project</button>
      </div>
      <div id="forked-project-list">
        <app-project-thumbnail *ngFor="let project of idea.forked" [project]="project"></app-project-thumbnail>
      </div>
    </div>
    <ng-template #noForkedProject>
      <h4>No forked project</h4>
      <button mat-button [routerLink]="['/projects/create']" [queryParams]="{idea: idea.hash}">Launch a project</button>
    </ng-template>
  </div>

  <div id="idea-enhancements">
    <h3>Description</h3>
    <markdown [data]="idea.content"></markdown>
    <div>
      <app-brainstorming-enhancement-list [idea]="idea"></app-brainstorming-enhancement-list>
    </div>
  </div>

</section>
