#post-list {
  display: flex;
  flex-direction: column;
}

#create-post{
  margin: 12px;
  display: flex;
  flex-direction: column;
}

app-post{
  margin: 12px;
}

.load-spinner-tab{
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
