<div *ngIf="!loading" id="post-list">

  <mat-card id="create-post" *ngIf="canPost">
    <mat-form-field>
      <textarea matInput placeholder="Write a new post" #postMessage disabled="{{submitted}}" [(ngModel)] = "postDto.message"></textarea>
    </mat-form-field>
    <button mat-button (click)="publishPost()" disabled="{{submitted}}">Publish</button>
  </mat-card>

  <app-post *ngFor="let post of posts" [post]="post" [showOrigin]="showOrigin"></app-post>

</div>

<div class="load-spinner-tab" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
