<mat-card class="invitation">

  <mat-card-title>
    <span *ngIf="projectInvitation"><a [routerLink]="['/projects', projectInvitation.project.hash]">{{projectInvitation.project.name}}</a></span>
    <span *ngIf="communityInvitation"><a [routerLink]="['/communities', communityInvitation.community.hash]">{{communityInvitation.community.name}}</a></span>
  </mat-card-title>

  <mat-card-content>
    <markdown [data]="projectInvitation.message" *ngIf="projectInvitation"></markdown>
    <markdown [data]="communityInvitation.message" *ngIf="communityInvitation"></markdown>
  </mat-card-content>

  <mat-card-actions>
    <div *ngIf="canApprove">
      <button mat-button (click)="acceptInvitation()">Accept Invitation</button>
      <button mat-button (click)="removeInvitation()">Discard Invitation</button>
    </div>
    <div *ngIf="canDiscard">
      <button mat-button (click)="removeInvitation()">Remove Invitation</button>
    </div>
  </mat-card-actions>

</mat-card>
