<mat-dialog-content class="file-upload-dialog">

  <h2>Déposer un document</h2>

  <div>

    <form (submit)="onSubmit()" #uploadForm="ngForm">

      <mat-form-field>
        <input matInput type="text" placeholder="Titre" name="doc-name" [(ngModel)]="documentDto.name">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" name="doc-name" [(ngModel)]="documentDto.description"></textarea>
      </mat-form-field>

      <input type="file"
             #fileInput
             name="file"
             [class.uploaded]="fileLoaded"
             (change)="addFile($event)"/>

      <button mat-raised-button
              type="submit"
              id="submit-document"
              [disabled]="!uploadForm.form.valid || !fileLoaded">Envoyer</button>
    </form>

  </div>

</mat-dialog-content>
