@media screen and (min-width: 768px) {
  .file-upload-dialog{
    min-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .file-upload-dialog{
    min-width: 300pt;
  }
}

form{
  display: flex;
  flex-direction: column;
}

mat-form-field{
  width: 100%;
}

.file-input{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.uploaded{
  background-color: #388e3c;
}

#submit-document{
  margin-top: 15px;
}
