<mat-card class="project-job-thumbnail">

  <span class="job-title">
    <a [routerLink]="['/jobs', job.hash]">{{job.name}}</a>
  </span>

  <span class="job-holder" *ngIf="job.holder; else noHolder">
    <span>Assigned to:</span>
    <div class="avatar-crop"
         [matTooltip]="job.holder.username"
         matTooltipPosition="after">
      <img src="../../../../assets/images/profile.svg" class="message-avatar" *ngIf="!job.holder.avatarUrl">
      <img src="{{job.holder.avatarUrl}}" class="message-avatar" *ngIf="job.holder.avatarUrl">
    </div>
  </span>
  <ng-template #noHolder>
    <div class="job-holder">
      This job is not yet attributed.
    </div>
  </ng-template>

  <span *ngIf="job.tasks" [ngPlural]="job.tasks.length" class="job-tasks">
        <ng-template ngPluralCase="=0">No assigned task</ng-template>
        <ng-template ngPluralCase="=1">1 assigned task</ng-template>
        <ng-template ngPluralCase="other">{{job.tasks.length}} assigned tasks</ng-template>
  </span>

<!--
  TODO: Implement rewards and organization coins.
  <div>
    <span class="monthly-reward">{{job.monthlyReward}}</span>
  </div>
-->

</mat-card>
