.project-job-thumbnail {
  width: 200px;
  height: 150px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  justify-content: space-around;
}

.job-title {
  font-size: 1.5em;
  margin-bottom: 6px;
}

.job-holder{
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.monthly-reward {
  color: white;
  background-color: #880E4F;
  border-radius: 18px;
  padding: 2px 12px;
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  color: #1F1F1F;
}

.avatar-crop{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
