<mat-form-field>
  <input matInput placeholder="Role name" [(ngModel)]="role.name">
</mat-form-field>

<section>
  <mat-checkbox [(ngModel)]="role.defaultMember">
    <span class="permission-description">Default role for any new member of the community ?</span>
  </mat-checkbox>

</section>

<mat-divider></mat-divider>

<section>

    Specify the rights of the various roles you can give to the members of this community.

  <div>
    <h3>
      Community
    </h3>

    <mat-checkbox [(ngModel)]="permissions.UPDATE_COMMUNITY">
      <span class="permission-description">Can update the community (skills, tags, description, logo...)</span>
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="permissions.DELETE_COMMUNITY">
      <span class="permission-description">Can delete the community (this action cannot be undone)</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Memberships</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_MEMBERSHIP">
      <span class="permission-description">Can update the roles of the members, remove them from the community.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Roles</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_ROLE">
      <span class="permission-description">Can create new roles, update those already existing, and remove the unnecessary ones.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Candidacies</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_CANDIDACIES">
      <span class="permission-description">Can see users who candidates to the community, accept or deny them.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Invitations</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_INVITATIONS">
      <span class="permission-description">Can invite users to take part in this community, or remove existing invitations</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Posts</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_POST">
      <span class="permission-description">Can moderate, delete the posts of this community.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Documents</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_DOCUMENT">
      <span class="permission-description">Can moderate, delete the documents of this community.</span>
    </mat-checkbox>
  </div>

  <div>
    <h3>Brainstorming</h3>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_BRAINSTORMING_SESSION">
      <span class="permission-description">Can create, update, close brainstorming sessions for this community.</span>
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="permissions.MANAGE_BRAINSTORMING_IDEAS">
      <span class="permission-description">Can manage the ideas and enhancements made in brainstorming sessions.</span>
    </mat-checkbox>
  </div>

  <button mat-raised-button (click)="onSubmit()"><mat-icon>check</mat-icon> Save changes</button>

</section>
