<div class="column-list" *ngIf="columnsFetched; else loading">
  <app-column *ngFor="let column of columns" [column]="column" [labels]="board.labels"></app-column>

  <mat-card class="new-column" *ngIf="canEdit">
    <mat-form-field>
      <input matInput
             name="name"
             placeholder="Add an new column..."
             [(ngModel)]="columnDto.name"
             [disabled]="columnSubmitted"
             (keyup.enter)="onSubmit()"/>
    </mat-form-field>
  </mat-card>
</div>

<ng-template #loading>
  <div class="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
