@import "../../../../assets/theme";

#task-detail{
  width: 800px;
  max-height: 80vh;

  @include media-breakpoint-smaller {
    width: 300px;
  }

  @include media-breakpoint-small {
    width: 400px;
  }

  @include media-breakpoint-medium {
    width: 600px;
  }
}

#task-input {
  display: flex;
  flex-direction: row;

  @include media-breakpoint-smaller {
    flex-direction: column;
  }

  @include media-breakpoint-small {
    flex-direction: column;
  }

  @include media-breakpoint-medium {
    flex-direction: column;
  }
}

#task-general-info {
  padding: 12px;
  display: flex;
  flex-direction: column;

  min-width: 60%;
}

#task-relations {
  padding: 12px;
  display: flex;
  flex-direction: column;

  min-width: 40%;
}

.user-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;

  > span {
    margin-left: 12px;
  }
}

.image-cropper{
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
}

#task-reward {
  color: white;
  background-color: #880E4F;
  border-radius: 18px;
  padding: 2px 12px;
}

.task-element {
  padding: 6px;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.updatable{
  &:hover {
    cursor: pointer;
    background-color: #E0E0E0;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
  }
}

.label {
  height: 24px;
  margin: 6px;
  padding: 6px 18px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scale-on-hover {
  transition: all .1s ease-in-out;
  cursor: pointer;

  &:hover {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    transition: all .1s ease-in-out;
  }
}

.selected {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
  box-shadow: 0 2px 5px rgba(0,0,0,.42);
}

#task-feedback {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
  }

  button {
    margin: 6px;
  }

}

#praise-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FFEB3B;
  color: black;
}

#approve-button {
  background-color: #388E3C;
  color: white;
}
