<div id="task-detail">

  <form (submit)="onSubmit()">

    <div id="task-input">
      <div id="task-general-info">

        <mat-form-field *ngIf="edit.name; else elseName">
          <input matInput name="name" type="text" placeholder="Task" [(ngModel)]="taskDto.name"/>
        </mat-form-field>
        <ng-template #elseName>
          <div (click)="editTask('name')" class="task-element" [class.updatable]="canEdit">
            <h3>
              {{taskDto.name}}
            </h3>
          </div>
        </ng-template>

        <mat-form-field *ngIf="edit.description; else elseDescription">
          <textarea matInput name="description" [(ngModel)]="taskDto.description" placeholder="Task description"></textarea>
        </mat-form-field>
        <ng-template #elseDescription>
          <div (click)="editTask('description')" class="task-element" [class.updatable]="canEdit">
            <h4>Description: </h4>
            <span *ngIf="task.description; else noDescription">
              {{taskDto.description}}
            </span>
            <ng-template #noDescription>
              Add a description
            </ng-template>
          </div>
        </ng-template>

        <mat-form-field *ngIf="edit.deadline; else elseDeadline">
          <input matInput [matDatepicker]="myDatepicker" name="deadline" placeholder="Deadline" [(ngModel)]="taskDto.deadline">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <ng-template #elseDeadline>
          <div (click)="editTask('deadline')" class="task-element" [class.updatable]="canEdit">
            <h4>Deadline: </h4>
            <span *ngIf="task.deadline; else noDeadline">
            {{taskDto.deadline | date}}
            </span>
            <ng-template #noDeadline>
              Add a deadline
            </ng-template>
          </div>
        </ng-template>

<!--
      TODO: Implement rewards and organization coins.
        <mat-form-field *ngIf="edit.reward; else elseReward">
          <input matInput name="reward" type="number" [(ngModel)]="taskDto.reward" placeholder="Reward">
        </mat-form-field>
        <ng-template #elseReward>
          <div (click)="editTask('reward')" class="task-element" [class.updatable]="canEdit">
            <h4>Reward: </h4>
            <span id="task-reward" *ngIf="task.reward; else noReward">
              {{taskDto.reward}}
            </span>
            <ng-template #noReward>
              Add a reward
            </ng-template>
          </div>
        </ng-template>
-->
      </div>

      <div id="task-relations">

        <!-- Select task supervisor -->
        <div *ngIf="edit.supervisor; else elseSupervisor">
          <label>Select task supervisor</label>
          <mat-form-field>
            <input matInput
                   placeholder="Supervisor"
                   [matAutocomplete]="supervisorAutocomplete"
                   [formControl]="supervisorCtrl"
                   #name
                   (keyup.enter)="setSupervisor(name.value); name.value = ''">
          </mat-form-field>
          <mat-autocomplete #supervisorAutocomplete="matAutocomplete">
            <mat-option *ngFor="let user of filteredSupervisor"
                        [value]="user.username"
                        (click)="setSupervisor(user.username)">
              <div class="user-option">
                <div class="image-cropper">
                  <img src="../../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
                  <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
                </div>
                <span>{{user.username}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
          <div class="user-option" *ngIf="supervisor">
            <div class="image-cropper">
              <img src="../../../../assets/images/profile.svg" *ngIf="!supervisor.avatarUrl">
              <img src="{{supervisor.avatarUrl}}" *ngIf="supervisor.avatarUrl">
            </div>
            <span>{{supervisor.username}}</span>
            <button mat-icon-button (click)="removeSupervisor()"><mat-icon>clear</mat-icon></button>
          </div>
        </div>
        <ng-template #elseSupervisor>
          <div (click)="editTask('supervisor')" class="task-element" [class.updatable]="canEdit">
            <h3>Supervisor</h3>
            <div *ngIf="supervisor; else noSupervisor" class="user-option">
              <div class="image-cropper">
                <img src="../../../../assets/images/profile.svg" *ngIf="!supervisor.avatarUrl">
                <img src="{{supervisor.avatarUrl}}" *ngIf="supervisor.avatarUrl">
              </div>
              <span>{{supervisor.username}}</span>
            </div>
            <ng-template #noSupervisor>
              Select a supervisor
            </ng-template>
          </div>
        </ng-template>

        <!-- Select task assignee -->
        <div *ngIf="edit.assignee; else elseAssignee">
          <label>Select task assignee</label>
          <mat-form-field>
            <input matInput
                   placeholder="Assignee"
                   [matAutocomplete]="assigneeAutocomplete"
                   [formControl]="assigneeCtrl"
                   #name
                   (keyup.enter)="setAssignee(name.value); name.value = ''">
          </mat-form-field>
          <mat-autocomplete #assigneeAutocomplete="matAutocomplete">
            <mat-option *ngFor="let user of filteredAssignee"
                        [value]="user.username"
                        (click)="setAssignee(user.username)">
              <div class="user-option">
                <div class="image-cropper">
                  <img src="../../../../assets/images/profile.svg" *ngIf="!user.avatarUrl">
                  <img src="{{user.avatarUrl}}" *ngIf="user.avatarUrl">
                </div>
                <span>{{user.username}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
          <div class="user-option" *ngIf="assignee">
            <div class="image-cropper">
              <img src="../../../../assets/images/profile.svg" *ngIf="!assignee.avatarUrl">
              <img src="{{assignee.avatarUrl}}" *ngIf="assignee.avatarUrl">
            </div>
            <span>{{assignee.username}}</span>
            <button mat-icon-button (click)="removeAssignee()"><mat-icon>clear</mat-icon></button>
          </div>
        </div>
        <ng-template #elseAssignee>
          <div (click)="editTask('assignee')" class="task-element" [class.updatable]="canEdit">
            <h3>Assignee</h3>
            <div *ngIf="assignee; else noAssignee" class="user-option">
              <div class="image-cropper">
                <img src="../../../../assets/images/profile.svg" *ngIf="!assignee.avatarUrl">
                <img src="{{assignee.avatarUrl}}" *ngIf="assignee.avatarUrl">
              </div>
              <span>{{assignee.username}}</span>
            </div>
            <ng-template #noAssignee>
              Select an assignee
            </ng-template>
          </div>
        </ng-template>

        <!-- Select task labels -->
        <div>
          <h3>Labels</h3>
          <div *ngIf="edit.labels; else elseLabels">
            <span *ngFor="let label of labels"
                  class="label scale-on-hover"
                  [ngStyle]="{'background-color': label.color}"
                  [class.selected]="isSelectedLabel(label)"
                  (click)="triggerLabelSelect(label)">
              {{label.name}}
              <mat-icon *ngIf="isSelectedLabel(label)">check</mat-icon>
            </span>
          </div>
          <ng-template #elseLabels>
            <div (click)="editTask('labels')" class="task-element" [class.updatable]="canEdit">
              <div *ngIf="task.labels.length > 0; else noLabel" class="user-option">
                <span *ngFor="let label of task.labels" class="label" [ngStyle]="{'background-color': label.color}">{{label.name}}</span>
              </div>
              <ng-template #noLabel>
                Select labels
              </ng-template>
            </div>
          </ng-template>
        </div>

      </div>
    </div>

    <button mat-button type="submit" [disabled]="taskSubmitted" *ngIf="pendingUpdate()">Update Task</button>

  </form>

  <form *ngIf="task.pendingApproval && canEdit" id="task-feedback">
    <h3>Task submitted for approval</h3>
    <mat-form-field>
      <textarea matInput placeholder="Send feedback alongside your decision" name="feedback" [(ngModel)]="feedback.feedback" required></textarea>
    </mat-form-field>
    <div>
      <button mat-button type="submit" [disabled]="taskSubmitted" *ngIf="canEdit" id="dismiss-button" (click)="dismissSubmission()">Dismiss the submission</button>
      <button mat-button type="submit" [disabled]="taskSubmitted" *ngIf="canEdit" id="approve-button" (click)="approveTask(false)">Approve the task</button>
      <button mat-button type="submit" [disabled]="taskSubmitted" *ngIf="canEdit" id="praise-button" (click)="approveTask(true)"><mat-icon>start</mat-icon>Approve and praise</button>
    </div>
  </form>

  <button mat-button ng-if="canEdit && !task.pendingApproval" (click)="deleteTask()" color="warn">Delete</button>
  <button mat-button ng-if="canEdit && !task.pendingApproval" (click)="archiveTask()" color="primary">Archive</button>
  <button mat-button [disabled]="taskSubmitted" *ngIf="canSubmit" (click)="submitForApproval()">Submit for approval</button>
  <button mat-button disabled="true" *ngIf="task.pendingApproval && !canEdit">Task submitted for approval</button>

  <app-post-list [task]="task"></app-post-list>

</div>
