$primary-color: #212121;
$accent-color: #E91E63;

$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

@mixin media-breakpoint-smaller {
  @media screen and (max-width: 575px) {
    @content
  }
}

@mixin media-breakpoint-small {
  @media screen and (min-width: 576px) and (max-width: 767px) {
    @content
  }
}

@mixin media-breakpoint-medium{
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content
  }
}

@mixin media-breakpoint-large {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content
  }
}

@mixin media-breakpoint-larger {
  @media screen and (min-width: 1200px) {
    @content
  }
}

@mixin breakpoint-medium{
  @media screen and (max-width: $medium){
    @content
  }
}
