@import '../../../assets/theme';

/*
 * On large screens, display information in two columns: on the left, intrinsic project properties. On the right, relationships.
 */

#job-detail{
  padding: 24px;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-large {
    flex-direction: row;
  }

  @include media-breakpoint-larger {
    flex-direction: row;
  }
}

#job-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#job-intrinsic {
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-large {
    width: 70%;
  }

  @include media-breakpoint-larger {
    width: 70%;
  }
}

#task-reward {
  color: white;
  background-color: #880E4F;
  border-radius: 18px;
  padding: 6px 12px;
}

app-post-list {
  margin-top: 24px;
}

#job-relations{
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-large {
    width: 30%;
  }

  @include media-breakpoint-larger {
    width: 30%;
  }
}

.user-display {
  display: flex;
  flex-direction: row;
  align-items: center;

  > a {
    margin-left: 12px;
    color: #1F1F1F;
    font-size: 1.3em;
  }
}

.avatar-crop{
  height: 45px;
  width: 45px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

app-project-thumbnail {
  width: 275px;
  height: 350px;
}

#task-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > app-task {
    margin: 6px;
  }
}


/*
 * Display progress spinner while the request to fetch the job has not been completed
 */
#loading{
  position: relative;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
