<div id="job-detail" *ngIf="jobFetched; else loading">

  <div id="job-intrinsic" *ngIf="job">
    <div>
      <div id="job-action">
        <h1>{{job.name}}</h1>
        <button mat-raised-button *ngIf="userCandidacy" (click)="removeCandidacy()">Delete application</button>
        <button mat-raised-button *ngIf="!userCandidacy && !canEdit" (click)="openCandidacyDialog()">Apply to job</button>
        <button mat-raised-button *ngIf="canEdit" (click)="openJobManagementDialog()">Manage job</button>
      </div>
      <markdown [data]="job.description"></markdown>
    </div>

    <div *ngIf="job.skills.length > 0">
      <h3>Skills</h3>
      <div class="tag-list">
        <app-tag *ngFor="let skill of job.skills">{{skill.name}}</app-tag>
      </div>
    </div>

    <div *ngIf="job.tags.length > 0">
      <h3>Tags</h3>
      <div class="tag-list">
        <app-tag *ngFor="let tag of job.tags">{{tag.name}}</app-tag>
      </div>
    </div>

<!--
    TODO: Implement rewards and organization coins.
    <div *ngIf="job.monthlyReward">
      <h3>Monthly Reward:</h3>
      <span id="task-reward">{{job.monthlyReward}}</span>
    </div>
-->

    <app-post-list [job]="job"></app-post-list>

  </div>

  <div id="job-relations">
    <div *ngIf="job.contact">
      <h3>Contact</h3>
      <div class="user-display">
        <div class="avatar-crop">
          <img src="../../../assets/images/profile.svg" class="message-avatar" *ngIf="!job.contact.avatarUrl">
          <img src="{{job.contact.avatarUrl}}" class="message-avatar" *ngIf="job.contact.avatarUrl">
        </div>
        <a [routerLink]="['/users', [[job.contact.username]]]">{{job.contact.firstName}} {{job.contact.lastName}}</a>
      </div>
    </div>

    <div *ngIf="job.holder">
      <h3>Job Holder</h3>
      <div class="user-display">
        <div class="avatar-crop">
          <img src="../../../assets/images/profile.svg" class="message-avatar" *ngIf="!job.holder.avatarUrl">
          <img src="{{job.holder.avatarUrl}}" class="message-avatar" *ngIf="job.holder.avatarUrl">
        </div>
        <a [routerLink]="['/users', [[job.holder.username]]]">{{job.holder.firstName}} {{job.holder.lastName}}</a>
      </div>
    </div>

    <div *ngIf="job.project">
      <h3>Project</h3>
      <app-project-thumbnail [project]="job.project"></app-project-thumbnail>
    </div>

    <div *ngIf="job.tasks.length > 0">
      <h3>Tasks</h3>
      <div id="task-list">
        <app-task *ngFor="let task of job.tasks" [task]="task"></app-task>
      </div>
    </div>
  </div>

</div>

<ng-template #loading>
  <div id="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
