<div *ngIf="community !== undefined">

  <!--Display community brainstorming sessions if a community is given -->
  <app-brainstorming-sessions-list *ngIf="selectedIdea === undefined && selectedSession === undefined && community !== undefined"
                                   [community]="community"
                                   (onSessionSelection)="selectSession($event)"></app-brainstorming-sessions-list>

  <!-- Otherwise display project brainstorming sessions if a community is given -->
<!--
  <app-brainstorming-sessions-list *ngIf="selectedIdea === undefined && selectedSession === undefined && project !== undefined"
                                   [project]="project"
                                   (onSessionSelection)="selectSession($event)"></app-brainstorming-sessions-list>
-->

  <!-- When a brainstorming session is selected, show its details -->

  <app-brainstorming-session-detail *ngIf="selectedIdea === undefined && selectedSession !== undefined"
                                    [session]="selectedSession"
                                    (onIdeaSelect)="selectIdea($event)"
                                    (onSessionUnselect)="unSelectSession()"></app-brainstorming-session-detail>

</div>
