@import "../../../assets/theme";

.search-body {
  display: flex;
  flex-direction: row;

  @include breakpoint-medium {
    flex-direction: column-reverse;
  }

  #search-results {
    width: 60%;
    padding: 24px;

    @include breakpoint-medium {
      width: 100%;
    }

    app-user-thumbnail {
      margin: 6px;
    }
  }

  #right-panel {
    width: 40%;
    padding: 24px;

    @include breakpoint-medium {
      width: 100%;
    }

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    mat-form-field {
      width: 100%;
    }
  }

}
