<mat-progress-bar mode="indeterminate" *ngIf="displayProgressBar"></mat-progress-bar>

<div class="search-body">

  <!-- USERS TO DISPLAY -->

  <div id="search-results">

    <app-user-thumbnail *ngFor="let user of users" [user]="user"></app-user-thumbnail>

    <button mat-button
            (click)="loadUsers(name, users.length)"
            class="load-more-button"
            *ngIf="moreToLoad"
            disabled="{{displayProgressBar}}">Load More</button>

  </div>

  <!-- DISPLAY FILTERS -->

  <div id="right-panel">

    <header>
      <h2>Filters</h2>
      <button mat-button (click)="emptyFilters(); search1.value=''">Clear</button>
    </header>

    <mat-form-field class="advanced-autocomplete">
      <input matInput placeholder="Filter by name" #search1 (keyup)="search(search1.value)" [value]="name">
    </mat-form-field>

    <div>
      <mat-form-field class="advanced-autocomplete">
        <input matInput placeholder="Filter by skill"
               #skillInput
               [matAutocomplete]="autoSkill"
               [formControl]="skillCtrl"
               (keyup.enter)="addSkill(skillInput.value); skillInput.value = ''">
      </mat-form-field>
      <mat-autocomplete #autoSkill="matAutocomplete">
        <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.name" (click)="addSkill(skill, search1.value); skillInput.value = ''">
          {{ skill.name }}
        </mat-option>
      </mat-autocomplete>

      <div class="chip-list-filter">
        <div *ngFor="let skill of currentSkills">
          <button mat-icon-button (click)="removeSkill(skill)"><mat-icon>clear</mat-icon></button>
          <app-tag>
            {{skill.name}}
          </app-tag>
        </div>
      </div>
    </div>

    <div>
      <mat-form-field class="advanced-autocomplete">
        <input matInput placeholder="Filter by center of interest"
               #tagInput
               [matAutocomplete]="autoTag"
               [formControl]="tagCtrl"
               (keyup.enter)="addTag(tagInput.value); tagInput.value = ''">
      </mat-form-field>
      <mat-autocomplete #autoTag="matAutocomplete">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name" (click)="addTag(tag, search1.value); tagInput.value = ''">
          {{ tag.name }}
        </mat-option>
      </mat-autocomplete>


      <div class="chip-list-filter">
        <div *ngFor="let tag of currentTags">
          <button mat-icon-button (click)="removeTag(tag)"><mat-icon>clear</mat-icon></button>
          <app-tag>
            {{tag.name}}
          </app-tag>
        </div>
      </div>
    </div>
  </div>

</div>
