<form (submit)="onSubmit()">

  <mat-form-field>
    <textarea matInput
              matAutosizeMinRows="4"
              [(ngModel)]="message"
              name="message"
              placeholder="Send a message alongside your candidacy">

    </textarea>
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="submitted">Submit Candidacy</button>

</form>
