#brainstorming-section{
  margin: 24px;
}

header {
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

app-brainstorming-idea-list {
  width: 100%;
  margin: 24px;
}

/*
#submit-idea{
  width: 80%;
  margin: 20px;
}

form {
  width: 100%;
  display: flex;
}

mat-form-field{
  width: 100%;
}


.idea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.idea-actions{
  display: flex;
  align-items: center;
}

.idea-action{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40px;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.spacer{
  flex: 1 1 auto;
}

.image-cropper{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px
}

.message-avatar {
  height: 24px;
  width: 24px;
}

.clickable:hover{
  cursor: pointer;
}

.idea-liked{
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .idea{
    width: 350px;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .idea{
    width: 95%;
    margin: 10px;
  }
}
*/
