<div class="session">
  <h3>{{session.name}}</h3>
  <span *ngIf="session.open; else closed_session">Open</span>
  <ng-template #closed_session>Closed</ng-template>
  <span>{{session.nbIdeas}} Ideas</span>
</div>
