.session{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #C2185B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.closed {
  background-color: #303F9F;
}
