.new-room-dialog{
  width: 700px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.user-invite-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-invite-list{
  margin-bottom: 10px;
}

.image-cropper{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  display: flex;

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.message-avatar {
  height: 30px;
  width: 30px;
}

mat-form-field{
  width: 100%;
}
