<form id="project-filter-dialog" (submit)="onSubmit()">

  <div>
    <h2>Filters</h2>
    <button mat-button (click)="emptyFilters()">Reset filters</button>
  </div>

  <mat-form-field>
    <input matInput placeholder="Filter by name" #name [(ngModel)]="params.name" name="name">
  </mat-form-field>

  <label>Tags</label>

  <mat-form-field  class="section">
    <input matInput placeholder="Filter by skill"
           #skillInput
           [matAutocomplete]="autoSkill"
           [formControl]="skillCtrl"
           (keyup.enter)="addSkill(skillInput.value); skillInput.value = ''">
  </mat-form-field>
  <mat-autocomplete #autoSkill="matAutocomplete">
    <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.name" (click)="addSkill(skill.name); skillInput.value = ''">
      {{ skill.name }}
    </mat-option>
  </mat-autocomplete>

  <mat-chip-list class="tag-list">
    <div *ngFor="let skill of params.skills">
      <button mat-icon-button (click)="removeSkill(skill)"><mat-icon>clear</mat-icon></button>
      <app-tag>
        {{skill}}
      </app-tag>
    </div>
  </mat-chip-list>

  <label>Tags</label>

  <mat-form-field class="section">
    <input matInput placeholder="Filter by tag"
           #tagInput
           [matAutocomplete]="autoTag"
           [formControl]="tagCtrl"
           (keyup.enter)="addTag(tagInput.value); tagInput.value = ''">
  </mat-form-field>
  <mat-autocomplete #autoTag="matAutocomplete">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name" (click)="addTag(tag.name); tagInput.value = ''">
      {{ tag.name }}
    </mat-option>
  </mat-autocomplete>

  <mat-chip-list class="tag-list">
    <div *ngFor="let tag of params.tags">
      <button mat-icon-button (click)="removeTag(tag)"><mat-icon>clear</mat-icon></button>
      <app-tag>
        {{tag}}
      </app-tag>
    </div>
  </mat-chip-list>

  <button mat-raised-button type="submit" (click)="onSubmit()">Update filters</button>

</form>
