@import "../../../assets/theme";

app-project-thumbnail {
  margin: 24px;
  min-width: 275px;
  width: 80%;
  height: 420px;

  @include media-breakpoint-larger {
    width: 28%;
  }

  @include media-breakpoint-large {
    width: 28%;
  }

  @include media-breakpoint-medium {
    width: 40%;
  }
}

.search-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-smaller {
    flex-direction: column;
    justify-content: center;
  }

  @include media-breakpoint-small {
    flex-direction: column;
    justify-content: center;
  }
}

section {
  max-width: 1400px;
  margin: 20px auto 20px auto;
}

.section-head{
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin-left: 24px;
  }
}

.project-list-content{
  margin: 24px;
}

.search-load-more{
  width: 50px;
  margin: auto;
}

.load-more-button{
  width: 100%;
  margin: 10px auto;
}

#no-project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
