<mat-progress-bar mode="indeterminate" *ngIf="!personalProjectsFetched || !projectsFetched"></mat-progress-bar>

<div class="project-list-content">

  <!-- Display the projects the user takes part in -->

  <section *ngIf="personalProjectsFetched && personalProjects.length > 0">
    <div class="section-head">
      <h2>My projects</h2>
      <button mat-icon-button routerLink="/projects/create"><mat-icon>add</mat-icon></button>
    </div>

    <div class="search-results">
      <app-project-thumbnail *ngFor="let project of personalProjects" [project]="project"></app-project-thumbnail>
    </div>
  </section>

  <div *ngIf="personalProjectsFetched && personalProjects.length === 0 && personalProjectsFetched && personalProjects.length > 0" class="section-head">
    <h2>You are not part of any project.</h2>
    <button mat-icon-button routerLink="/projects/create"><mat-icon>add</mat-icon></button>
  </div>

  <!-- PROJECTS TO DISPLAY -->

  <section *ngIf="projectsFetched && projects.length > 0">
    <div class="section-head" *ngIf="projectsFetched">
      <h2>Available projects</h2>
      <button mat-raised-button (click)="openFilterDialog()">Filter</button>
    </div>
    <div class="search-results">
      <app-project-thumbnail *ngFor="let project of projects" [project]="project"></app-project-thumbnail>
    </div>
  </section>

  <div *ngIf="personalProjectsFetched && personalProjects.length === 0" id="no-project">
    <h2>No project was found.</h2>
    <button mat-button routerLink="/projects/create"><mat-icon>add</mat-icon> Create one</button>
  </div>

  <button mat-button (click)="loadMore()" class="load-more-button" *ngIf="projectsFetched && moreToLoad">Load more</button>

</div>

