@media screen and (max-width: 768px) {
  #project-filter-dialog{
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  #project-filter-dialog{
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  #project-filter-dialog{
    width: 700px;
  }
}

#project-filter-dialog{
  display: flex;
  flex-direction: column;
  margin: 24px;
}

#text-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tag-list{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 24px;
}

mat-form-field{
  width: 100%;
  margin: 5px;
}
