#confirm-dialog {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

#choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#confirm-button {
  background-color: #1B5E20;
  margin: 12px;
}

#cancel-button{
  background-color: #D50000;
  margin: 12px;
}
