<div>

  <h3>
    {{message}}
  </h3>

  <div id="choice">
    <button mat-raised-button id="cancel-button" (click)="abort()">Cancel</button>
    <button mat-raised-button id="confirm-button" (click)="confirm()">Confirm</button>
  </div>

</div>
