@import "../../assets/theme";

#home {
  padding: 12px;
  display: flex;
  flex-direction: row;

  @include media-breakpoint-smaller {
    flex-direction: column-reverse;
  }
  @include media-breakpoint-small {
    flex-direction: column-reverse;
  }
  @include media-breakpoint-medium {
    flex-direction: column-reverse;
  }
}

#first-column {
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: 60%;

  .tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > mat-card {
      margin: 6px;
      padding: 0;
      width: 250px;
    }
  }

  @include media-breakpoint-smaller {
    width: 100%;
  }
  @include media-breakpoint-small {
    width: 100%;
  }
  @include media-breakpoint-medium {
    width: 100%;
  }
}

#second-column {
  padding: 12px;
  width: 40%;

  @include media-breakpoint-smaller {
    width: 100%;
  }
  @include media-breakpoint-small {
    width: 100%;
  }
  @include media-breakpoint-medium {
    width: 100%;
  }
}

#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
