<div id="home" *ngIf="currentUserService.getCurrentUser(); else loadingUser">

  <div id="first-column">

    <mat-card *ngIf="stepperStatus.skillsSpecified
    && stepperStatus.tagsSpecified
    && stepperStatus.descriptionFilled
    && stepperStatus.projects
     && stepperStatus.communities ">
      <mat-horizontal-stepper>
        <mat-step>
          <ng-template matStepLabel>Welcome</ng-template>
          <h3>Welcome</h3>
          Thank you for joining our platform. Here is a few things you can do.

          <button mat-raised-button matStepperNext>Explore</button>

          <br />
          <br />
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fill out your profile</ng-template>
          <br />
          <h3>Complete your profile</h3>
          In order to be visible by the other members, to let them know what you want
          to work on and what you are good at, go to your profile and update it. <br />

          <mat-list>
            <mat-list-item>
              Specify the skills you have
              <mat-icon *ngIf="stepperStatus.skillsSpecified">check</mat-icon>
            </mat-list-item>
            <mat-list-item >
              List the fields in which you are interested
              <mat-icon *ngIf="stepperStatus.tagsSpecified">check</mat-icon>
            </mat-list-item>
            <mat-list-item>
              Drop a few lines to describe yourself
              <mat-icon *ngIf="stepperStatus.descriptionFilled">check</mat-icon>
            </mat-list-item>
          </mat-list>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Join a community or a project</ng-template>
          <h3>Join a project or community</h3>
          This platform is made to help you collaborate with other members on various projects. You can browse
          the various projects available by clicking the link on the navigation bar. <br />
          You can also create or join communities. Communities are made to help you gather, in your organization,
          around specific themes, discuss, brainstorm and launch projects together.
          <mat-list>
            <mat-list-item>
              Create or join a project
              <mat-icon *ngIf="stepperStatus.projects">check</mat-icon>
            </mat-list-item>
            <mat-list-item>
              Create or join a community
              <mat-icon *ngIf="stepperStatus.communities">check</mat-icon>
            </mat-list-item>
          </mat-list>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>

    <h3 [ngPlural]="tasks.length" *ngIf="tasksFetched && tasks.length > 0">
      <ng-template ngPluralCase="=0"></ng-template>
      <ng-template ngPluralCase="=1">You have 1 affected task</ng-template>
      <ng-template ngPluralCase="other">You have {{tasks.length}} affected tasks</ng-template>
    </h3>
    <div class="tasks" *ngIf="tasksFetched">
      <mat-card *ngFor="let task of tasks">
        <app-task [task]="task"></app-task>
      </mat-card>
    </div>

    <h3 *ngIf="supervisedTasksLoaded && supervisedTasks.length > 0">Supervised Tasks</h3>
    <div class="tasks" *ngIf="tasksFetched">
      <mat-card *ngFor="let task of supervisedTasks">
        <app-task [task]="task" (onTaskUpdate)="updateTask($event)" (onTaskDelete)="deleteTask($event)"></app-task>
      </mat-card>
    </div>

    <h3>News</h3>
    <div id="posts">
      <app-post-list [showOrigin]="true"></app-post-list>
    </div>
  </div>

  <div id="second-column">
    <h3 [ngPlural]="jobs.length" *ngIf="jobsFetched && jobs.length > 0">
      <ng-template ngPluralCase="=0"></ng-template>
      <ng-template ngPluralCase="=1">You have 1 job</ng-template>
      <ng-template ngPluralCase="other">You have {{jobs.length}} jobs</ng-template>
    </h3>
    <div id="jobs" *ngIf="jobsFetched">
      <app-job-thumbnail *ngFor="let job of jobs" [job]="job"></app-job-thumbnail>
    </div>

    <div id="invitations">
      <app-invitation-thumbnail-list [user]="currentUserService.getCurrentUser()"
                                     [canDiscard]="true"
                                     [displayNoneMessage]="false"></app-invitation-thumbnail-list>
    </div>

    <div id="candidacies">
      <app-candidacy-thumbnail-list [user]="currentUserService.getCurrentUser()"
                                    [canDiscard]="true"
                                    [displayNoneMessage]="false"></app-candidacy-thumbnail-list>
    </div>
  </div>

</div>

<ng-template #loadingUser>
  <div id="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
