<div *ngIf="jobsFetched; else loading">
  <button mat-button (click)="openNewJobDialog()" *ngIf="project &&displayCreateButton" id="new-job-button"><mat-icon>edit</mat-icon>Create job</button>

  <div id="job-list">
    <app-job-thumbnail *ngFor="let job of jobs" [job]="job"></app-job-thumbnail>
  </div>

  <button mat-button *ngIf="moreToLoad" (click)="loadJobs()">Load More</button>

</div>
<ng-template #loading>
  <div id="loading">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
</ng-template>
