#new-job-button{
  margin: 24px;
  float: right;
}

#job-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > app-job-thumbnail {
    margin: 12px;
  }
}

#loading{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
