@import "../../assets/theme";

#actions {
    position: absolute;
    top: 24px;
    right: 42px;
    z-index: 99;
    display: flex;
    flex-direction: row;

    button {
        background: #E0E0E0;
        margin-right: 12px;
    }

    .hidden {
        opacity: 0;
    }
    
}

.boards-content{
    margin: 24px;

    section {
        margin: 20px auto 42px auto;
      }

      .project-boards {
          padding-bottom: 12px;

          h3 {
              padding-bottom: 12px;
          }

          .project-boards-list {
              padding-left: 12px;

              h4 {
                  color: #424242;
              }
          }
      }

}

.no-content {
    text-align: center;
    margin-top: calc(50vh - 33px) !important;
    transform: translateY(-50%);
}