<mat-progress-bar mode="indeterminate"
    *ngIf="!(boardsFetched && personalBoardsFetched)
         || (selectedElement != null && !selectedElementBoardsFetched)">
</mat-progress-bar>

<div id="actions">
    <button mat-icon-button
        (click)="openSearchDialog()"
        class="toggleBoardSearch">
        <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button
        (click)="clearSearch()"
        [class.hidden] = "selectedElement == null"
        class="clearSearchButton">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="boards-content" *ngIf="selectedElement == null">
    <section class="boards-list" *ngIf="personalBoardsFetched && !query">
        <h2>My Boards</h2>
        <div *ngFor="let projectBoards of groupedPersonalBoards" class="project-boards">
            <h3><a [routerLink]="['/projects', projectBoards.project.hash]">{{projectBoards.project.name}}</a></h3>
            <div *ngFor="let board of projectBoards.boards" class="project-boards-list">
                <h4>{{board.name}}</h4>
                <app-board [board]="board"></app-board>
            </div>
        </div>
    </section>

    <section class="personal-boards" *ngIf="boardsFetched">
        <h2>Available Boards</h2>
        <div *ngFor="let projectBoards of groupedBoards" class="project-boards">
            <h3><a [routerLink]="['/projects', projectBoards.project.hash]">{{projectBoards.project.name}}</a></h3>
            <div *ngFor="let board of projectBoards.boards" class="project-boards-list">
                <h4>{{board.name}}</h4>
                <app-board [board]="board"></app-board>
            </div>
        </div>
    </section>

    <h2 class="no-content" *ngIf="boardsFetched
                            && personalBoardsFetched
                            && groupedBoards.length === 0
                            && groupedPersonalBoards.length === 0">No board could be found.</h2>
</div>

<div class="boards-content" *ngIf="selectedElement != null">   
    <section class="personal-boards" *ngIf="selectedElementBoardsFetched">
        <h2 *ngIf="selectedElement.project != null">{{selectedElement.project.name}}'s boards</h2>
        <h2 *ngIf="selectedElement.user != null">{{selectedElement.user.firstName}} {{selectedElement.user.lastName}}'s boards</h2>
        <div *ngFor="let board of selectedElement.boards" class="project-boards-list">
            <h3>{{board.name}}</h3>
            <app-board [board]="board"></app-board>
        </div>
    </section>

    <h2 class="no-content" *ngIf="selectedElementBoardsFetched && selectedElement.boards.length === 0">No board could be found.</h2>

</div>
