<mat-card class="user-thumbnail" *ngIf="user.firstName">

  <app-user-avatar-circle [user]="user"></app-user-avatar-circle>

  <div class="thumbnail-content">
    <div>
      <h4><a [routerLink]="['/users', user.username]">{{user.firstName}} {{user.lastName}}</a></h4>
    </div>

    <div class="user-card-content">
      <div *ngIf="user.skills.length > 0">
        <div *ngIf="user.skills.length > 0 || user.interests.length > 0" class="user-chip-list">
          <app-tag *ngFor="let skill of user.skills | slice:0:4; let i=index">
            {{skill.name}}
          </app-tag>
          <app-tag *ngFor="let tag of user.interests | slice:0:(4-user.skills.length)">
            {{tag.name}}
          </app-tag>
          <app-tag *ngIf="user.skills.length + user.interests.length > 4">
            +{{user.skills.length + user.interests.length - 4}}
          </app-tag>
        </div>
      </div>

    </div>
  </div>

</mat-card>
