<div class="settings">

        <h1>Settings</h1>
        
        <app-settings-notifications></app-settings-notifications>
        
        <app-account-preferences></app-account-preferences>

</div>

