#create-session-button {
  float: right;
  margin: 24px;
}

#session-list{
  margin: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

app-brainstorming-session-card {
  margin: 24px;

  &:hover{
    cursor: pointer;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transition:all .1s ease-in-out;
  }
}
