<div *ngIf="sessionsFetched; else loading">
  <div *ngIf="sessions.length === 0; else newSessionButton">
    <h3> No brainstorming session was found for this community</h3>
    <button mat-button (click)="openSessionCreation()">Create new session</button>
  </div>
  <ng-template #newSessionButton>
    <button mat-button (click)="openSessionCreation()" id="create-session-button"><mat-icon>add</mat-icon>New Session</button>
  </ng-template>

  <div id="session-list">
    <app-brainstorming-session-card *ngFor="let session of sessions"
                                    [session]="session"
                                    (click)="selectSession(session)">
    </app-brainstorming-session-card>
  </div>
</div>

<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
